html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}
article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary{display:block}
audio,canvas,progress,video{display:inline-block;vertical-align:baseline}
audio:not([controls]){display:none;height:0}
[hidden],template{display:none}
a{background-color:transparent}
a:active,a:hover{outline:0}
abbr[title]{border-bottom:1px dotted}
b,strong{font-weight:700}
dfn{font-style:italic}
h1{font-size:2em;margin:.67em 0}
mark{background:#ff0;color:#000}
small{font-size:80%}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sup{top:-.5em}
sub{bottom:-.25em}
img{border:0}
svg:not(:root){overflow:hidden}
figure{margin:1em 40px}
hr{box-sizing:content-box;height:0}
pre{overflow:auto}
code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}
button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0}
button{overflow:visible}
button,select{text-transform:none}
button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer}
button[disabled],html input[disabled]{cursor:default}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}
input{line-height:normal}
input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0}
input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{height:auto}
input[type=search]{-webkit-appearance:textfield;box-sizing:content-box}
input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}
fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}
legend{border:0;padding:0}
textarea{overflow:auto}
optgroup{font-weight:700}
table{border-collapse:collapse;border-spacing:0}
td,th{padding:0}
@font-face{font-family:"Avenir LT W01_35 Light";src:url(http://static.grayghostvisuals.com/fonts/3511a780-31ca-4ee1-9083-89b1b7185748.eot?#iefix);src:url(http://static.grayghostvisuals.com/fonts/3511a780-31ca-4ee1-9083-89b1b7185748.eot?#iefix) format("eot"),url(http://static.grayghostvisuals.com/fonts/4fb9056b-4ac3-488b-9bac-75741b0ff0bd.woff2) format("woff2"),url(http://static.grayghostvisuals.com/fonts/c4352a95-7a41-48c1-83ce-d8ffd2a3b118.woff) format("woff"),url(http://static.grayghostvisuals.com/fonts/3e419b5b-c789-488d-84cf-a64009cc308e.ttf) format("truetype"),url(http://static.grayghostvisuals.com/fonts/ca038835-1be3-4dc5-ba25-be1df6121499.svg#ca038835-1be3-4dc5-ba25-be1df6121499) format("svg")}
@font-face{font-family:"Avenir LT W01_45 Book";src:url(http://static.grayghostvisuals.com/fonts/4f32268f-fd86-4960-b72c-4bb1ba75ec6f.eot?#iefix);src:url(http://static.grayghostvisuals.com/fonts/4f32268f-fd86-4960-b72c-4bb1ba75ec6f.eot?#iefix) format("eot"),url(http://static.grayghostvisuals.com/fonts/9bcb625d-81de-48c2-ba0c-664558d197e3.woff2) format("woff2"),url(http://static.grayghostvisuals.com/fonts/939cba03-5b40-4d01-9bc5-7589eca863db.woff) format("woff"),url(http://static.grayghostvisuals.com/fonts/849bc5b9-a2ff-4343-977b-26ba8bd24a60.ttf) format("truetype"),url(http://static.grayghostvisuals.com/fonts/f67fa3b5-c1d1-488f-8e60-a828b9ad56a4.svg#f67fa3b5-c1d1-488f-8e60-a828b9ad56a4) format("svg")}
@font-face{font-family:AvenirLTW01-45BookObliq;src:url(http://static.grayghostvisuals.com/fonts/acc13cdc-338a-43e6-a156-e54a4c87582d.eot?#iefix);src:url(http://static.grayghostvisuals.com/fonts/acc13cdc-338a-43e6-a156-e54a4c87582d.eot?#iefix) format("eot"),url(http://static.grayghostvisuals.com/fonts/70ed6fd5-9adf-4d08-8b30-514af1de7ca2.woff2) format("woff2"),url(http://static.grayghostvisuals.com/fonts/ca94ed56-18fc-4856-940a-70a072607c7c.woff) format("woff"),url(http://static.grayghostvisuals.com/fonts/dd6da407-70fe-4aa3-a1c7-64f0cb086f01.ttf) format("truetype"),url(http://static.grayghostvisuals.com/fonts/c7f424be-90e1-45b8-b617-ee3589a859bd.svg#c7f424be-90e1-45b8-b617-ee3589a859bd) format("svg")}
@font-face{font-family:"Avenir LT W01_65 Medium";src:url(http://static.grayghostvisuals.com/fonts/212ab03d-5db2-4d6a-b94c-171cc702aa51.eot?#iefix);src:url(http://static.grayghostvisuals.com/fonts/212ab03d-5db2-4d6a-b94c-171cc702aa51.eot?#iefix) format("eot"),url(http://static.grayghostvisuals.com/fonts/e4d36745-a861-4a49-aa17-6510e67429d3.woff2) format("woff2"),url(http://static.grayghostvisuals.com/fonts/2cac77ec-9bc0-4ee7-87e4-27650190744f.woff) format("woff"),url(http://static.grayghostvisuals.com/fonts/aaf11848-aac2-4d09-9a9c-aac5ff7b8ff4.ttf) format("truetype"),url(http://static.grayghostvisuals.com/fonts/294099f3-8d00-4676-afc5-5e9d8d43ad69.svg#294099f3-8d00-4676-afc5-5e9d8d43ad69) format("svg")}
@font-face{font-family:AvenirLTW01-65MediumObl;src:url(http://static.grayghostvisuals.com/fonts/2a6f81a2-475c-4831-9949-33d7748ee561.eot?#iefix);src:url(http://static.grayghostvisuals.com/fonts/2a6f81a2-475c-4831-9949-33d7748ee561.eot?#iefix) format("eot"),url(http://static.grayghostvisuals.com/fonts/695a9fa5-9f57-4800-9993-3684d520f107.woff2) format("woff2"),url(http://static.grayghostvisuals.com/fonts/e0af2f49-a399-482b-a54e-d745e268ec80.woff) format("woff"),url(http://static.grayghostvisuals.com/fonts/6803d3dd-2107-45fc-ac8a-a4fa13771547.ttf) format("truetype"),url(http://static.grayghostvisuals.com/fonts/1bb1acb5-8d4e-4800-88af-dbcf1fe96ef8.svg#1bb1acb5-8d4e-4800-88af-dbcf1fe96ef8) format("svg")}
@font-face{font-family:"Ciutadella W04 Lt";src:url(http://static.grayghostvisuals.com/fonts/4daeaa7d-f7fb-47c6-a8e7-c077e372e184.eot?#iefix);src:url(http://static.grayghostvisuals.com/fonts/4daeaa7d-f7fb-47c6-a8e7-c077e372e184.eot?#iefix) format("eot"),url(http://static.grayghostvisuals.com/fonts/d1cabf8f-280c-4998-9463-ecac69b4a97d.woff2) format("woff2"),url(http://static.grayghostvisuals.com/fonts/10451487-1f0d-48e9-9c47-1a263b7c2ca5.woff) format("woff"),url(http://static.grayghostvisuals.com/fonts/afae55b3-a505-4aba-b04e-15b52f5e87ed.ttf) format("truetype"),url(http://static.grayghostvisuals.com/fonts/148856b7-f6c2-4488-aa9e-64b4aabd523d.svg#148856b7-f6c2-4488-aa9e-64b4aabd523d) format("svg")}
@font-face{font-family:"Ciutadella W04 Medium";src:url(http://static.grayghostvisuals.com/fonts/7bdd0be0-f361-4d36-9e14-05337303f255.eot?#iefix);src:url(http://static.grayghostvisuals.com/fonts/7bdd0be0-f361-4d36-9e14-05337303f255.eot?#iefix) format("eot"),url(http://static.grayghostvisuals.com/fonts/ed194b8a-64f3-48d2-bddf-92263193203f.woff2) format("woff2"),url(http://static.grayghostvisuals.com/fonts/37b97c80-647a-4123-b7ee-7bd3701ba68a.woff) format("woff"),url(http://static.grayghostvisuals.com/fonts/5a50bc44-892b-4ab3-8b7b-f652b48ee431.ttf) format("truetype"),url(http://static.grayghostvisuals.com/fonts/e232f02f-57b5-48ae-951e-b3117b3d91de.svg#e232f02f-57b5-48ae-951e-b3117b3d91de) format("svg")}
@font-face{font-family:"Ciutadella W04 SmBold";src:url(http://static.grayghostvisuals.com/fonts/829adf53-a18c-4a54-9cd3-dd894a8634a9.eot?#iefix);src:url(http://static.grayghostvisuals.com/fonts/829adf53-a18c-4a54-9cd3-dd894a8634a9.eot?#iefix) format("eot"),url(http://static.grayghostvisuals.com/fonts/7b38e6b6-d5db-412d-b147-145b5840d624.woff2) format("woff2"),url(http://static.grayghostvisuals.com/fonts/9ed1d093-f7c8-4fe8-965f-be965fe3f50e.woff) format("woff"),url(http://static.grayghostvisuals.com/fonts/0a464e3c-b811-4aa2-b3ef-42877f0913d7.ttf) format("truetype"),url(http://static.grayghostvisuals.com/fonts/bf4747b0-2500-4f42-b2d3-9df1d7175e3e.svg#bf4747b0-2500-4f42-b2d3-9df1d7175e3e) format("svg")}
@font-face{font-family:"Ciutadella W04 Bold";src:url(http://static.grayghostvisuals.com/fonts/74b4dd68-6d32-47cc-84de-23e5a5ed0b33.eot?#iefix);src:url(http://static.grayghostvisuals.com/fonts/74b4dd68-6d32-47cc-84de-23e5a5ed0b33.eot?#iefix) format("eot"),url(http://static.grayghostvisuals.com/fonts/20db9fd0-d6d6-445c-ae1f-b2a89f76eef7.woff2) format("woff2"),url(http://static.grayghostvisuals.com/fonts/032894d3-2aab-40ca-bbef-651cdc9cd972.woff) format("woff"),url(http://static.grayghostvisuals.com/fonts/dfe36cb7-94ef-477f-981c-25cf8e6a1452.ttf) format("truetype"),url(http://static.grayghostvisuals.com/fonts/9dd50792-6387-4112-9787-40456e7bafbc.svg#9dd50792-6387-4112-9787-40456e7bafbc) format("svg")}
:after,:before{box-sizing:inherit}
html{box-sizing:border-box;background:#F4F5F6}
body,html{height:100%;margin:0;padding:0;min-height:100%}
body{-webkit-animation:fontFade 400ms normal forwards cubic-bezier(.81,.01,.71,.98);animation:fontFade 400ms normal forwards cubic-bezier(.81,.01,.71,.98);-webkit-animation-delay:550ms;animation-delay:550ms;color:#003461;opacity:0}
.ffo-loaded body{font-family:'Avenir LT W01_45 Book'}
@-webkit-keyframes fontFade{from{opacity:0}
to{opacity:1}}
@keyframes fontFade{from{opacity:0}
to{opacity:1}}
embed,img,object,video{max-width:100%;height:auto}
svg{max-width:100%}
a{text-decoration:none}
a:link,a:visited{color:#EB8315}
a:active,a:focus,a:hover{font-weight:inherit;color:#AF5C1E}
h1{text-transform:uppercase;color:#132e49}
.ffo-loaded h1{font-family:'Ciutadella W04 Medium'}
h2{text-transform:uppercase;color:#132e49}
.ffo-loaded h2{font-family:'Ciutadella W04 Medium'}
h3{text-transform:uppercase;color:#132e49}
.ffo-loaded h3{font-family:'Ciutadella W04 Medium'}
h4{text-transform:uppercase;color:#132e49}
.ffo-loaded h4{font-family:'Ciutadella W04 Medium'}
h5{text-transform:uppercase;color:#132e49}
.ffo-loaded h5{font-family:'Ciutadella W04 Medium'}
h6{text-transform:uppercase;color:#132e49}
.ffo-loaded h6{font-family:'Ciutadella W04 Medium'}
html{font-family:sans-serif;font-size:100%;line-height:1.5}
body{margin:0 auto;max-width:520px;position:relative;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;padding-left:13px;padding-right:13px}
@media screen and (min-width:924px) and (min-height:500px){body{max-width:1000px}
.landing body{display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-align-items:center;-ms-flex-align:center;align-items:center;-webkit-flex-direction:row;-ms-flex-direction:row;flex-direction:row;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center}}
@media screen and (min-height:476px){body{display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-justify-content:space-around;-ms-flex-pack:distribute;justify-content:space-around}}
html.case{background:url(../img/site/space.jpg) top left no-repeat fixed;background-size:cover}
html.case>*{color:#fff}
.ggv-headline{margin:0;font-size:30px;font-weight:200;line-height:1}
.ffo-loaded .ggv-headline{font-family:'Ciutadella W04 Lt'}
.ggv-headline._casestudy>:nth-child(1),.ggv-headline._default>:nth-child(2){font-family:'Ciutadella W04 Bold'}
.ggv-headline._push{text-align:right}
.ggv-headline._hero:first-child{color:#BAC9D4}
.ggv-headline._hero:last-child{color:#3B7092}
@media screen and (min-width:316px){.ggv-headline._hero{font-size:42px}}
@media screen and (min-width:460px){.ggv-headline._hero{font-size:65px}}
.socials{height:48px;position:relative;width:48px}
.socials svg#trigger{height:48px;position:relative;z-index:2}
.socials a,.socials svg#trigger{width:48px}
.socials svg path,.socials svg#trigger path{fill:#FF6500}
.socials svg#trigger:hover path{fill:#CA4D00}
.socials a{display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;-webkit-justify-content:flex-start;-ms-flex-pack:start;justify-content:flex-start;height:100px;position:absolute;top:50%;left:0;transition:900ms all cubic-bezier(.68,-.55,.265,1.55);-webkit-transform-origin:top center;transform-origin:top center;z-index:0;opacity:0}
.socials a:hover{cursor:pointer}
.socials a:hover svg path{fill:#CA4D00}
.socials a:hover svg#trigger path{fill:#FF7E00}
.socials svg{-webkit-transform:rotate(-180deg);transform:rotate(-180deg)}
.socials svg#trigger{-webkit-transform:rotate(0deg) scale(.875);transform:rotate(0deg) scale(.875)}
.socials svg#github{-webkit-transform:rotate(-90deg);transform:rotate(-90deg)}
.socials svg#dribble{-webkit-transform:rotate(90deg);transform:rotate(90deg)}
.socials svg:hover{cursor:pointer}
.socials.is-bloomed a{opacity:1;padding-top:50%;z-index:0}
.socials.is-bloomed a:nth-of-type(1){-webkit-transform:rotate(90deg);transform:rotate(90deg);transition-delay:36ms}
.socials.is-bloomed a:nth-of-type(2){-webkit-transform:rotate(180deg);transform:rotate(180deg);transition-delay:72ms}
.socials.is-bloomed a:nth-of-type(3){-webkit-transform:rotate(270deg);transform:rotate(270deg);transition-delay:108ms}
.socials.is-bloomed a:nth-of-type(4){-webkit-transform:rotate(360deg);transform:rotate(360deg);transition-delay:144ms}
.socials.is-bloomed a:nth-of-type(5){-webkit-transform:rotate(450deg);transform:rotate(450deg);transition-delay:180ms}
.ggv-headline._hero,.ggv-headline._hero._push{text-align:center}
@media screen and (min-width:924px) and (min-height:500px){.ggv-headline._hero._push{text-align:right}}
@media screen and (min-width:924px) and (min-height:500px){.ggv-headline._hero{text-align:left}}
@media screen and (min-width:924px) and (min-height:500px){.ggv-hero+.ggv-slogan{-webkit-flex:1;-ms-flex:1;flex:1}}
.ggv-hero{padding-bottom:26px}
@media screen and (min-width:924px) and (min-height:500px){.ggv-hero{padding-bottom:0}}
.ggv-slogan p{margin-top:0;padding-left:13px;font-size:16px;color:#1e5a81}
@media screen and (min-width:924px) and (min-height:500px){.ggv-slogan p{font-size:20px}}
header[role=banner]{box-sizing:border-box}
.landing header[role=banner]{display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;padding:13px;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column}
@media screen and (min-width:430px){.landing header[role=banner]{-webkit-flex-direction:row;-ms-flex-direction:row;flex-direction:row}}
@media screen and (min-width:460px){header[role=banner]{-webkit-flex-direction:row;-ms-flex-direction:row;flex-direction:row}}
@media screen and (min-width:924px) and (min-height:500px){header[role=banner]{-webkit-flex-direction:row;-ms-flex-direction:row;flex-direction:row;padding:0;width:auto}}
@media screen and (min-width:924px) and (min-height:500px){header[role=banner]>a{display:block;text-align:center;-webkit-transform:translate(42px,-68px);transform:translate(42px,-68px)}}
header[role=banner] svg{width:60px;height:auto}
@media screen and (min-width:460px){header[role=banner] svg{width:80px;height:auto}}
.landing main[role=main]{display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-align-items:stretch;-ms-flex-align:stretch;align-items:stretch;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column}
@media screen and (min-width:924px) and (min-height:500px){.landing main[role=main]{-webkit-flex:1;-ms-flex:1;flex:1;-webkit-flex-direction:row;-ms-flex-direction:row;flex-direction:row}}
.ffo-loaded.landing nav[role=navigation]{font-family:'Ciutadella W04 SmBold'}
.landing nav[role=navigation]{width:100%;padding:13px;text-align:center}
@media screen and (min-width:924px) and (min-height:500px){.landing nav[role=navigation]{position:absolute;top:10%;right:0}}
.landing nav[role=navigation] a{display:inline-block;padding:2px;transition:.3s color ease-in-out;text-decoration:none;text-transform:uppercase;color:#76bff4}
@media screen and (min-width:440px){.landing nav[role=navigation] a{padding-right:13px}}
.landing nav[role=navigation] a:visited{color:#76bff4}
.landing nav[role=navigation] a:active,.landing nav[role=navigation] a:focus,.landing nav[role=navigation] a:hover{font-weight:inherit;color:#4380A7}
.ffo-loaded footer[role=contentinfo] small{font-family:'Ciutadella W04 SmBold'}
footer[role=contentinfo]{display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-align-items:center;-ms-flex-align:center;align-items:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;width:100%;text-align:center}
@media screen and (min-width:924px) and (min-height:500px){.landing footer[role=contentinfo]{position:absolute;bottom:10%;left:0;right:0}}
footer[role=contentinfo] small{text-transform:uppercase;color:#4E8BB3}