<footer class="sticky-row sticky-footer" role="contentinfo">
  {{> social-bloomer}}

  <p><small>©{{#date}}{{/date}} {{site.title}} LLC. <a href="tel:5859449406">585.944.9406</a>. Ciutadella and Avenir via <a href="http://fonts.com">fonts.com</a></small></p>
</footer>