<section class="ggv-winfo" id="trigger">
  <h3 class="ggv-headline _reverse">
    <span>The</span>
    <span>Work</span>
  </h3>

  <div class="ggv-wtypes">
    <div>
      <h4>Modular Development</h4>
      {{> devgraphic }}
      <p>Building &amp; studying at a component level helps to ensure that each component of an interface can travel across a wide range of scenarios that remain reusable and endure the test of time. {{! <a href="#atomic-process">Learn More</a> }}</p>
    </div>

    <div>
      <h4>Interaction &amp; Motion</h4>
      {{> handgraphic }}
      <p>Produce a product with great design not only visually, but as your users engage and interact. By examining and fine tuning motion and movement your users will fall in love and not even realize why. {{! <a href="#">Learn More</a> }}</p>
    </div>

    <div>
      <h4>Consulting</h4>
      {{> bulbgraphic}}
      <p>Does your team or your business have a need to discuss a subject with someone more knowledgeable? Helping to ensure you have the best access to the right answer’s is where the help begins. <a href="mailto:grayghost@grayghostvisuals.com?subject=Gray Ghost Visuals Project Inquiry&body=Howdy Dennis,%0A%0AWe'd love to work with Gray Ghost Visuals for our upcoming project.%0A"">Get In Touch</a></p>
    </div>
  </div>
</section>

<section id="methods">
  <h3 id="atomic-process">The Process</h3>
  <p>Where most see pages we see a set of systems. Systems that work together across many various locations that when combined, form a moving and functioning organism.</p>

  <h3>Creating Motion</h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa non tenetur labore ipsum obcaecati eligendi magni dolore quae! Aspernatur vitae distinctio obcaecati, expedita eius deleniti? Vitae ipsum, praesentium repudiandae itaque?</p>

  <h3>Role Casting</h3>
  <p>Having an abundant network of connections is why I work with a variety of sources that meet the match for the project. Some describe working with different entities much like role casting. The right person is always chosen to fit with the project requirements.</p>

  <p>Some companies hide behind indy contracts when work is produced through a collaborative effort of many forces. When we pick a team you know each one by first name and discuss your concern with them directly throughout the duration of your project.</p>
</section>

<section id="about">
  <h3>About</h3>

  <p>The power of being open and transparent by sharing through written, open source or video form is how knowledge gets shared and built upon far greater than as it started through social sharing. By sharing what we've learned and created other can benefit and build awesome amazing things with this knowledge.</p>
</section>

<section id="testimonials">
  <h3>What Others Say</h3>
  {{> quotes}}
</section>
