// Polyon
html.case.polyon {
  background: url(../img/site/space.jpg) top left no-repeat;
  background-attachment: fixed;
  background-size: cover;
  > * {
    color: white;
  }
}

.polyonlion {
  transform: translateX(100%);
}