.ggv-headline {
  margin: 0;
  font-size: 30px;
  font-weight: 200;
  line-height: 1;

  &._default {
    > *:nth-child(1) {
      font-family: 'Ciutadella W04 Lt';
    }
    > *:nth-child(2) {
      font-family:'Ciutadella W04 Bold';
    }
  }

  &._reverse {
    > *:nth-child(1) {
      font-family:'Ciutadella W04 Bold';
    }
  }

  &._push {
    text-align: right;
  }
}


.ggv-headline._hero {
  &:first-child {
    color: #BAC9D4;
  }

  &:last-child {
    color: #3B7092;
  }

  @media screen and (min-width: 316px) {
    font-size: 42px;
  }

  @media screen and (min-width: 460px) {
    font-size: 65px;
  }
}