.experiment main,
.case main {
  max-width: 571px;
  margin: 0 auto;
  padding-left: 52px;
  padding-right: 52px;
}

.experiment .ggv-headline,
.case .ggv-headline {
  margin: 0;
  font-size: 68px;
  font-weight: 200;
  line-height: 1;
  text-align: center;
  color: white;
}

.ggv-headline .figure-site,
.case .figure-site {
  margin-left: -120px;
  margin-right: -120px;
}