.default-template header[role="banner"] {
	a[href*="contact"] {
		border-radius: 26px 0 0 40px;
		box-shadow: 0 1px 8px rgba(#0C3858, 0.25);
		display: flex;
		align-items: center;
		align-self: stretch;
		justify-content: center;
		padding: 20px 10px 20px 50px;
		width: 240px;
		font-family: "Ciutadella W04 Lt", sans-serif;
		font-style: italic;
		font-size: 26px;
		text-transform: uppercase;
		background: white;
	}
}

.default-template main {
	padding-top: 50px;
	margin-left: auto;
	margin-right: auto;
	max-width: 640px;
	width: 100%;
	@include mq(min, 840px) {
		max-width: 570px;
	}
}

.default-template .ggv-headline {
	margin-top: 70px;
	margin-bottom: 80px;
	font-size: 60px;
	text-align: center;
	line-height: 1;
	color: white;
}

.default-template .ggv-list {
	margin-bottom: 60px;
	b {
		font-family: "Ciutadella W04 Medium", sans-serif;
		font-weight: 500;
		text-transform: uppercase;
	}
}
