html:not(.tracks):not(.polyon):not(.theron):not(.walmedia) .figure-site img,
html:not(.tracks):not(.polyon):not(.theron):not(.walmedia) .figure-site iframe {
  box-shadow: 0 -1px 1px rgba(254, 254, 254, 0.1),
              0 1px 4px rgba(0, 0, 0, 0.41);
}