$count: 5;
$proportion: 48px;

.socials {
  height: $proportion;
  position: relative;
  width: $proportion;

  svg#trigger {
    height: $proportion;
    position: relative;
    z-index: 2;
  }

  svg#trigger,
  a { width: $proportion; }

  svg path               { fill: #FF6500; }
  svg#trigger path       { fill: #FF6500; }
  svg#trigger:hover path { fill: #CA4D00; }

  a {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100px;
    position: absolute;
    top: 50%;
    left: 0;
    transition: 900ms all cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transform-origin: top center;
    z-index: 0;
    opacity: 0;
    &:hover                  { cursor: pointer; }
    &:hover svg path         { fill: #CA4D00;   }
    &:hover svg#trigger path { fill: #FF7E00;   }
  }

  svg         { transform: rotate(-180deg); }
  svg#trigger { transform: rotate(0deg) scale(0.875); }
  svg#github  { transform: rotate(-90deg);  }
  svg#dribble { transform: rotate(90deg);   }

  svg:hover   { cursor: pointer; }
}

.socials.is-bloomed a {
  opacity: 1;
  padding-top: 50%;
  z-index: 0;
}

@for $i from 1 through $count {
  .socials.is-bloomed a:nth-of-type(#{$i}) {
    transform: rotate(($i * (360/($count - 1))) + deg);
    transition-delay: $i * 36ms;
  }
}