// --------------------------------------------------------
// Config
// --------------------------------------------------------

// @example : functions/_img-url.scss
// background: img-url('picture.jpg') top left no-repeat;
$img-dir: "../img/site/" !default;

// @example : functions/_asset-helper.scss
// Base path for assets (fonts, images...),
// should not include trailing slash
// @access public
// @type String
// $asset-base-path: "./img/" !default;


// --------------------------------------------------------
// Color
// --------------------------------------------------------

$atomic-colors: (
  white: #FFFFFF,
  porcelain: #F4F5F6,
  gallery: #EEEEEE,
  new: #9ACAE5,
  cerulean: #09A3CA,
  allports: #006EA0,
  midnight-blue: #003461,
  web-orange: #F7AB00,
  flush-orange: #EB8315,
  sb-yellow: #FFDD00
);

$medium: 924px;
$landscape: 500px;