$atomic-colors: (
  white: #FFFFFF,
  porcelain: #F4F5F6,
  gallery: #EEEEEE,
  new: #9ACAE5,
  cerulean: #09A3CA,
  allports: #006EA0,
  midnight-blue: #003461,
  web-orange: #F7AB00,
  flush-orange: #EB8315,
  sb-yellow: #FFDD00
);

$medium: 924px;
$landscape: 500px;