* {
  &:before,
  &:after {
    box-sizing: inherit;
  }
}

html {
  box-sizing: border-box;
  background: #F4F5F6;
}

html,
body {
  height:100%;
}

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100%;
}

body {
  animation: fontFade 200ms cubic-bezier(.81, .01, .71, .98) 0.25s 1 forwards;
  color: map-get($atomic-colors, midnight-blue);
  opacity: 0;
  .ffo-loaded & {
    font-family: 'Avenir LT W01_45 Book';
  }
}

img,
embed,
object,
video {
  max-width: 100%;
  height: auto;
}

svg {
  max-width:100%;
}

a {
  transition: 200ms all ease-in-out;
  text-decoration: none;

  &:link,
  &:visited {
    color: map-get($atomic-colors, flush-orange);
  }
  &:focus,
  &:hover,
  &:active {
    font-weight: inherit;
    color: #AF5C1E;
  }
}

figcaption {
  text-align: center;
}

@for $i from 1 through 6 {
  h#{$i} {
    text-transform: uppercase;
    color: #132e49;

    .ffo-loaded & {
      font-family:'Ciutadella W04 Medium';
    }
  }
}
