* {
	&:before,
	&:after {
		box-sizing: inherit;
	}
}

html {
	box-sizing: border-box;
	background: map-get($atomic-colors, porcelain);
}

html,
body {
	height:100%;
}

html,
body {
	margin: 0;
	padding: 0;
	min-height: 100%;
}

body {
	@include font-loader('"Avenir LT W01_45 Book", sans-serif');
	color: map-get($atomic-colors, midnight-blue);
}

img,
embed,
object,
video {
	max-width: 100%;
	height: auto;
}

svg {
	max-width: 100%;
}

a {
	transition: 200ms all ease(in-out-cubic);
	text-decoration: none;

	&:link,
	&:visited {
		color: map-get($atomic-colors, flush-orange);
	}
	&:focus,
	&:hover,
	&:active {
		font-weight: inherit;
		color: #AF5C1E;
	}
}

abbr[title] {
	border-bottom: none; // normalize override
	text-decoration: none; // normalize override
}

figcaption {
	text-align: center;
}

@for $i from 1 through 6 {
	h#{$i} {
		text-transform: uppercase;
		color: #132e49;
		@include font-loader('"Ciutadella W04 Medium", sans-serif');
	}
}

.ggv-container {
	max-width: 1181px;
	margin: 0 auto;
}
