<footer role="contentinfo">
  {{> social-orbit}}
  <p><small>©2015 Gray Ghost Visuals LLC. <a href="tel:5859449406">585.944.9406</a>. Ciutadella and Avenir via <a href="http://fonts.com">fonts.com</a></small></p>
</footer>