<nav id="nav" role="navigation">
  {{#is 'atomicguide' this.basename}}
  <a href="#colors" id="atomic-colors">Colors</a>
  <a href="#utilities" id="atomic-utilities">Utilities</a>
  <a href="#typography" id="atomic-typography">Typography</a>
  <a href="#atoms" id="atomic-atoms">Atoms</a>
  <a href="#widgets" id="atomic-widgets">widgets</a>
  {{/is}}

  {{#is 'landing' this.basename}}
  <a href="/work.html">Work</a>
  <a href="mailto:grayghost@grayghostvisuals.com?subject=Gray Ghost Visuals Project Inquiry&body=Howdy Dennis,%0A%0AWe would love to work with Gray Ghost Visuals for our upcoming project.%0A">Get In Touch</a>
  <a href="http://blog.grayghostvisuals.com">Journal</a>
  <a href="/atomic-guide.html">Atomic Guide</a>
  {{/is}}
</nav>