---
basename: casestudy
title: Polyon
layout: default
description:
categories: client
area: clients
---

{{> logo-polyon}}

<h2 class="ggv-headline _casestudy _push"><span>Animated</span><span>Polylion</span></h2>

<ul>
  <li><b>CLIENT:</b> Polyon</li>
  <li><b>CATEGORY:</b> {{ categories }}</li>
  <li><b>PROJECT:</b> Animated Polygon SVG</li>
  <li><b>WEBSITE:</b> <a href="http://polyon.co">http://polyon.co</a></li>
</ul>

<p>Jonno Riekwel of Polyon enthusiastically approached Gray Ghost Visuals with a vision to develop and construct a vector animation sequence involving the Polyon logo wonderfully crafted by Jord Riekwel.  Polyon requested that each polygon element animate indenpendently and in a staggered fashion in a desired sequence.</p>

<p><strong>Noteworthy</strong> : The project was picked up for an in-depth guest article with CSS-Tricks due to an earier demo exploring the polygon lion orignally posted ion Dribbble by Breno Bettnecourt. This demo was exploring the capabilities of SVG polygons using the GreenSock Animation Platform.</p>

<ul>
  <li><b>Pre-Processors:</b> Haml, Sass, CoffeeScript</li>
  <li><b>Languages:</b> HTML, CSS, JavaScript</li>
  <li><b>Libraries:</b> jQuery, TweenMax</li>
</ul>