// Config
// ===============================================

@import "vars/styling";


// Mixins
// ===============================================

@import "mixins/media-query";


// Bower Plugins
// ===============================================

@import "../../bower_components/normalize-scss/normalize.scss";


// Globals
// ===============================================

@import "globals/fonts";
@import "globals/bases";
@import "globals/prism";


// Guide
// ===============================================

@import "assembler/guide";
@import "assembler/swatch";


// Utilities
// ===============================================

@import "utilities/cases-headline";


// Atoms
// ===============================================

@import "atoms/top-link";
@import "atoms/svgraphics";

.atomic-logos svg {
  height: 140px;
  width: 120px;
}

.atomic-logos svg:not(:last-child) {
  margin-right: 20px;
}

.ggv-graphic:not(:last-child) {
  margin-right: 40px;
}


// Molecules
// ===============================================

@import "molecules/socials";
@import "molecules/quotator.scss";

nav {
  font-family: 'Ciutadella W04 SmBold';
  text-transform: uppercase;

  a {
    padding: 4px;
    transition: .3s color ease-in-out;
  }
}

footer[role="contentinfo"] {
  padding-top: 50px;
  padding-bottom: 100px;
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  small {
    text-transform: uppercase;
    color: #969DFF;
    font-family: 'Ciutadella W04 SmBold';
  }
}
