// Config
// ===============================================

@import "vars/styling";


// Mixins
// ===============================================

@import "mixins/media-query";


// Bower Plugins
// ===============================================

@import "../../bower_components/normalize-scss/normalize";


// Globals
// ===============================================

// https://github.com/filamentgroup/font-loading/blob/master/font-events.html
@import "globals/fonts";
@import "globals/bases";


// App Globals
// ===============================================
// Utilities
// ===============================================

@import "utilities/cases-headline";


// Atoms
// ===============================================

@import "atoms/top-link";
@import "atoms/typography";
@import "atoms/svgraphics";

.ggv-graphic:not(:root) {
  overflow: visible;
}

.pub-logo {
  width: 120px;
  height: 48px;
}


// SVG Animation
// ===============================================

.ggv-graphic {
  visibility: hidden;
  g > * {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
  }
}


// Molecules
// ===============================================

@import "molecules/socials";
@import "molecules/quotator.scss";

.ggv-publist {
  list-style-type: none;
  display: flex;
  padding-left: 0;
}

header[role="banner"] {
  svg {
    width: 60px;
    height: auto;
    @media screen and (min-width: 460px) {
      width: 80px;
      height: auto;
    }
  }
}

.landing nav[role="navigation"] {
  width: 100%;
  text-align: center;

  a {
    text-decoration: none;
    text-transform: uppercase;
    color: #76bff4;

    &:visited {
      color: #76bff4;
    }

    &:hover,
    &:focus,
    &:active {
      font-weight: inherit;
      color: #4380A7;
    }
  }
}


footer[role="contentinfo"] {
  width: 100%;
  text-align: center;

  small {
    text-transform: uppercase;
    color: #4E8BB3;
  }
}


.ggv-graphic {
  visibility: hidden;
  g > * {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
  }
}


.ggv-slogan p {
  color: #1e5a81;
}


// Organisms
// ===============================================
// Landing
// ===============================================
// Pages
// ===============================================

// Landing
// ============

.landing main {
  max-width: 1181px;
  margin: 0 auto;
}

.landing .ggv-wtypes {
  display: flex;
}


// Polyon
// ============

.case main {
  max-width: 571px;
  margin: 0 auto;
  padding-left: 52px;
  padding-right: 52px;
}

.case .ggv-headline {
  margin: 0;
  font-size: 68px;
  font-weight: 200;
  line-height: 1;
  text-align: center;
  color: white;
}

.case .figure-site {
  margin-left: -120px;
  margin-right: -120px;
}

.figure-txt {
  float: left;
  margin-left: -15%;
}

.text {
  margin-right: -20%;
}


// Polyon
// ===============================================

html.case.Polyon {
  background: url(../img/site/space.jpg) top left no-repeat;
  background-attachment: fixed;
  background-size: cover;
  > * {
    color: white;
  }
}

.polyonlion {
  transform: translateX(100%);
}


// Walmedia
// ===============================================

html.case.Walmedia {
  background: #1B2D33;
  > * {
    color: #D9DDDF;
  }
}


// Helpers
// ===============================================
