---
basename: atomicguide
title: Atomic Guide
layout: default
description: The documented Atomic Guide for Gray Ghost Visuals intended to help analyze our system's interface from a molecular level to build out and structure a series of highly reusable components.
---

{{> banner}}

{{! Colors }}
<section class="row" id="colors">
	<header>
		<h1 class="typl8-delta">Colors</h1>
	</header>

	<p>Click on any color swatch to retrieve it's hex value.</p>
	{{> swatches}}
</section>

{{! Utilities }}
<section class="row" id="utilities">
	<header>
		<h1 class="typl8-delta">Utilities</h1>
	</header>

	<h2 class="typl8-zeta">Display Headlines</h2>

	<h1 class="ggv-headline _default"><span>Building</span><span>Incredible</span></h1>
	<pre class="language-html"><code><h1 class="ggv-headline _default"><span>Building</span><span>Incredible</span></h1></code></pre>

	{{!<h1 class="ggv-headline _reverse"><span>Building</span><span>Incredible</span></h1>
	<pre class="language-html"><code><h1 class="ggv-headline _reverse"><span>Building</span><span>Incredible</span></h1></code></pre>}}
</section>

{{! Typography }}
<section class="row" id="typography">
	<header>
		<h1 class="typl8-delta">Typography</h1>
	</header>

	<h2 class="typl8-zeta">Anchors</h2>
	{{> anchors}}

	<h2 class="typl8-zeta">Typescale : <a href="http://www.modularscale.com">modularscale</a></h2>
	<span>14, 16, 18, 21, 24, 28, 32, 36, 42, 60, 72, 90</span>

	<h2 class="typl8-zeta">Headings</h2>
	<div class="fontdisplay">
		<div style="font-family:'Ciutadella W04 Lt';">Ciutadella W04 Light </div>
		<div style="font-family:'Ciutadella W04 Medium';">Ciutadella W04 Medium</div>
		<div style="font-family:'Ciutadella W04 SmBold';">Ciutadella W04 SemiBold</div>
		<div style="font-family:'Ciutadella W04 Bold';">Ciutadella W04 Bold</div>
	</div>

	<h2 class="typl8-zeta">Copy</h2>

	<div class="fontdisplay">
		<div style="font-family:'Avenir LT W01_35 Light';">Avenir® W01 35 Light</div>
		<div style="font-family:'Avenir LT W01_45 Book';">Avenir® W01 45 Book</div>
		<div style="font-family:'AvenirLTW01-45BookObliq';">Avenir® W01 45 Book Oblique</div>
		<div style="font-family:'Avenir LT W01_65 Medium';">Avenir® W01 65 Medium</div>
		<div style="font-family:'AvenirLTW01-65MediumObl';">Avenir® W01 65 Medium Oblique</div>
	</div>

	<h2 class="typl8-zeta">Typescale</h2>
	{{> headings}}

	<h2 class="typl8-zeta">Paragraphs</h2>
	{{> paragraphs}}
	{{> paragraphs}}

	<h2 class="typl8-zeta">Lists</h2>
	{{> unordered-list}}
</section>

{{! Components }}
{{! see https://github.com/assemble/assemble/issues/228 }}
<section class="row" id="components">
	<header>
		<h1 class="typl8-delta">Components</h1>
	</header>

	<div class="atomic-logos">
		<h2 class="typl8-zeta">Logos</h2>
		{{> logo}}
	</div>

	<h2 class="typl8-zeta">Figures</h2>

	{{> figure figure.atomic.section.a}}
	<pre class="language-html"><code>{{> figure figure.atomic.section.a}}</code></pre>

	{{> figure figure.atomic.section.b}}
	<pre class="language-html"><code>{{> figure figure.atomic.section.b}}</code></pre>

	{{> figure figure.atomic.section.c}}
	<pre class="language-html"><code>{{> figure figure.atomic.section.c}}</code></pre>

	{{> figure figure.atomic.section.d}}
	<pre class="language-html"><code>{{> figure figure.atomic.section.d}}</code></pre>

	{{> figure figure.atomic.section.e}}
	<pre class="language-html"><code>{{> figure figure.atomic.section.e}}</code></pre>

	<h2 class="typl8-zeta">Banners</h2>
	{{> banner}}
	<pre class="language-html"><code>{{> banner}}</code></pre>

	<h2 class="typl8-zeta">Navigation</h2>
	{{> nav}}
	<pre class="language-html"><code>{{> nav}}</code></pre>

	<h2 class="typl8-zeta">Header</h2>
	{{> header}}
	<pre class="language-html"><code>{{> header}}</code></pre>

	<h2 class="typl8-zeta">Footer</h2>
	{{> footer}}
	<pre class="language-html"><code>{{> footer}}</code></pre>

	<h2 class="typl8-zeta">Social Bloomer</h2>
	{{> social-bloomer}}
	<pre class="language-html"><code>{{> social-bloomer}}</code></pre>

	<h2 class="typl8-zeta">Ripple Button</h2>
	{{> default-button}}
	<pre class="language-html"><code>{{> default-button}}</code></pre>

	<h2 class="typl8-zeta">Expando Card</h2>
	{{> expando-card}}
	<pre class="language-html"><code>{{> expando-card}}</code></pre>

	<h2 class="typl8-zeta">Quotator</h2>
	{{> quotes}}
	<pre class="language-html"><code>{{> quotes}}</code></pre>

	<h2 class="typl8-zeta">Data List</h2>
	{{> clients}}
	<pre class="language-html"><code>{{> clients}}</code></pre>
</section>
