---
basename: experiments
title: CodePen
layout: default
description:
categories: experiments
url: https:/codepen.io/grayghostvisuals
summary: Live Experiments In The Wild
logo: logo-codepen.svg
---

{{> logo-codepen}}

<h2 class="ggv-headline _reverse"><span>Staying</span><span>Curious</span></h2>

<p>Experimenting and sharing in the open is what the Web is all about. CodePen is a place to freely inspire, share and learn from many other talented developers. It's a playground for the imagination to go wild. All our experiments are freely shared in the spirit of education, inspiration and transparency.</p>

<small>* Click on each image for the live demo. Preview images are partial static screenshots in order to save on performance and load times.</small>

<ul id="codepens" class="list-reset"></ul>