---
basename: contact
title: contact
layout: default
description: Seeking a web developer or designer? Welcome to Gray Ghost Visuals' inquiry and project request form. We're a web development and design company based in Rochester, New York specializing in custom web development, WordPress, motion effects and print design.
---

{{> intro-deck}}

<section id="contact">
	<div id="wufoo-z1fenvx51p7ve3h"></div>
</section>
