---
basename: contact
title: contact
layout: default
description: Seeking a web developer or designer? Welcome to Gray Ghost Visuals' inquiry and project request form. We're a web development and design company based in Rochester, New York specializing in custom web development, WordPress, motion effects and print design.
---

{{> banner}}

<form action="/your-server-side-code" method="POST">
  <script
    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="pk_test_acXiTTn61uUUjaKsYdPRlFHB"
    data-amount="1120"
    data-name="Gray Ghost Visuals"
    data-description="Widget"
    data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
    data-locale="auto"
    data-zip-code="true">
  </script>
</form>

<section id="contact">
	<div id="wufoo-z1fenvx51p7ve3h"></div>
</section>
