---
basename: casestudy
layout: default
title: diy
logo: logo-diy.svg
description: A case study example by Gray Ghost Visuals based in Rochester, New York showcasing the construction of an SVG Animation Sequence for DIY using GreenSock.
tags: svg animation
categories: client
url: http://diy.org
summary: A safe online community for kids to discover new skills and be awesome.
---

{{> logo-diy}}
<h2 class="ggv-headline _reverse"><span>Learn</span><span>Anything</span></h2>

<ul class="ggv-list">
	<li><b>Project:</b> SVG Animation</li>
	<li><b>Website:</b> <a href="{{url}}">{{url}}</a></li>
	<li><b>Tooling:</b> Adobe Photoshop, Adobe Illustrator, SVGO GUI</li>
	<li><b>Languages:</b> HTML, XML, Sass, JavaScript</li>
	<li><b>Libraries:</b> TweenMax, DrawSVG and MorphSVG by <a href="https://greensock.com/gsap">GreenSock</a></li>
</ul>

<h3>About DIY</h3>
<p>The best person to show them how is another kid. DIY is a safe online community for kids to discover new skills, meet friends who are geeks just like them, and be awesome.</p>

<h3>Kid Passions</h3>
<p>This SVG animation titled "Kid Passions" had one goal in mind; subtle and simplistic. It was essential that each orb circling the child float delicately and randomly emit waves precisely to the brain resulting in separate signal transmitted through the child's body. The final touches would be eye movement and breathing to further portray a sense of realism.</p>
<figure class="figure-site">
	<img src="{{site.imgdir}}clients/diy/diy-feat-img.png" alt="">
	<figcaption><small>Credits: Design &amp; Illustration by Tyler Thompson</small></figcaption>
</figure>

<h3>Challenges</h3>
<p>To begin this animation process, the provided artwork required further manipulation in Illustrator. Each orb signal was recreated as a path in order to function correctly with <a href="https://greensock.com/drawSVG">DrawSVG</a>. The other challenging aspects were to create two instances of frames for the breathing sequence. To construct this morphing effect two states had to be created; one for the mouth and one for chest. Each of these states were hand manipulated in illustrator using the bézier anchor tool to pull the shapes anchor points into position. The pulsating orb behind the child also had to be recreated from scratch in Illustrator and sized appropriately.</p>
<p>The entire motion sequence required some considerable critical thinking in order to stage it perfectly. Timing was achieved using a series of calculated and placed callback methods in JavaScript that would determine and report when each orb was to emit a wave to the child's brain. Proper naming conventions and organization of layers in Illustrator helped to facilitate this process making the animation work effecient in regards to coding purposes.</p>

<h3>Final Product</h3>
<p>As you'll see below the animation sequence requirements were achieved with flying colors. Pay close attention and watch for the subtleties that take place.</p>
<figure class="figure-site">
	<p data-height="522" data-theme-id="24353" data-slug-hash="xwbrGM" data-default-tab="result" data-user="grayghostvisuals" data-embed-version="2" class="codepen">See the Pen <a href="https://codepen.io/grayghostvisuals/pen/xwbrGM/">Kid Passions</a> by GRAY GHOST (<a href="http://codepen.io/grayghostvisuals">@grayghostvisuals</a>) on <a href="http://codepen.io">CodePen</a>.</p>
	<figcaption><small>Final Animation Sequence. View the live demo on <a href="https://codepen.io/grayghostvisuals/pen/xwbrGM">CodePen</a></small></figcaption>
</figure>

<h3>Underneath</h3>
<p>Using the following illustration titled "Underneath" by <a href="http://www.isaiahsaxon.com">Isaiah Saxon</a>, it was requested to create an animation sequence that was subtle and sparked curiousity. What makes this animation entertaining are the tiny and intricate pieces to discover; the arm bend, worm crawl, bug movements, rock lift, foot wiggle and even the fireflies within the jar.</p>
<figure class="figure-site">
	{{>underneath}}
	<figcaption><small>Credits: Illustration by Isaiah Saxon</small></figcaption>
</figure>

<h3>Challenges</h3>
<p>Since the graphic was originally created in Photoshop it meant the artwork had to be converted into vector to animate as an SVG. It was decided the most efficient method that would also result in the most likeness to the original was to use the tracing option in Illustrator. Once the tracing was completed additonal tweaks were completed using the original Photoshop image as a template layer to match the patchwork against.</p>
<p>The majority of items within the artwork had to be isolated by hand to achieve separate and indivudually unique animations such as the foot wiggle, arm bend, crawling worm, moving shadows, the rock lift along with the grass and lilly pads just to name a few.</p>
<p>The most challenging aspect regarding this sequence was the arm bend. Since the unbent state of the arm did not exhist it had to be created from scratch requiring hours of manipultion of each anchor points of the vector outline. Also the portion of the hand resting on the rock had to be touched up as the tracing option left a large hole where the hand rested.</p>

<h3>Final Product</h3>
<p>After hours of tedious and labor intensive work the result is fantastic. Pay close attention to the life beneath the rock.</p>
<figure class="figure-site">
	<p data-height="660" data-theme-id="24353" data-slug-hash="dGKgKP" data-default-tab="result" data-user="grayghostvisuals" data-embed-version="2" class="codepen">See the Pen <a href="https://codepen.io/grayghostvisuals/pen/dGKgKP/">Underneath</a> by GRAY GHOST (<a href="http://codepen.io/grayghostvisuals">@grayghostvisuals</a>) on <a href="http://codepen.io">CodePen</a>.</p>

	<figcaption><small>View the live demo of Underneath on <a href="https://codepen.io/grayghostvisuals/pen/dGKgKP/">CodePen</a></small></figcaption>
</figure>
