---
basename: casestudy
layout: default
title: diy
logo: logo-diy.svg
description:
tags: svg animation
categories: client
url: http://diy.org
summary: svg animations for a community of kids discovering new skills
---

{{> logo-diy}}

<h2 class="ggv-headline _reverse"><span>Learn</span><span>Anything</span></h2>

<ul class="ggv-list">
	<li><b>Project:</b> Kid Passions and Underneath SVG Animations</li>
	<li><b>Website:</b> <a href="{{url}}">{{url}}</a></li>
	<li><b>Tooling:</b> Adobe Illustrator, Gulp</li>
	<li><b>Languages:</b> HTML, XML, Sass, JavaScript</li>
	<li><b>Libraries:</b> TweenMax, DrawSVG and MorphSVG by <a href="https://greensock.com/gsap">GreenSock</a></li>
</ul>

<h3>About DIY</h3>
<p>The best person to show them how is another kid. DIY is a safe online community for kids to discover new skills, meet friends who are geeks just like them, and be awesome.</p>

<h3>Kid Passions SVG Animation</h3>
<p>Kid passions had one goal in mind; subtle and simplistic. Each orb circling the child must be subtle in movement and randomly emit waves to the brain thereby sending a signal down the body. The final touches would be eye movement and breathing to further portray a sense of realism.</p>

<figure class="figure-site">
	<img src="{{site.imgdir}}clients/diy/diy-feat-img.png" alt="">
	<figcaption><small>Credits: Design &amp; Illustration by Tyler Thompson</small></figcaption>
</figure>

<h3>Challenges</h3>

<p>This particular motion sequence required quite a bit of thinking in order to time the sequence just right. The timing was achieved using a series of calculated and placed callback methods that would determine and report when each orb would emit a wave to the child's brain.</p>

<h3>Final Product</h3>

<figure class="figure-site">
	<p data-height="522" data-theme-id="24353" data-slug-hash="xwbrGM" data-default-tab="result" data-user="grayghostvisuals" data-embed-version="2" class="codepen">See the Pen <a href="https://codepen.io/grayghostvisuals/pen/xwbrGM/">Kid Passions</a> by GRAY GHOST (<a href="http://codepen.io/grayghostvisuals">@grayghostvisuals</a>) on <a href="http://codepen.io">CodePen</a>.</p>
	<figcaption><small>Final Animation Sequence. View the live demo on <a href="https://codepen.io/grayghostvisuals/pen/xwbrGM">CodePen</a></small></figcaption>
</figure>

<h3>Underneath SVG Animation</h3>
<p>Using the following illustration by <a href="http://www.isaiahsaxon.com">Isaiah Saxon</a>, it was requested to create an animation sequence that was subtle and sparked curiousity. What makes this animation are the little intricate pieces to discover. The arm bend, the bugs moving, the rock lifting, the foot wiggle and much more are the key ingredients to this entire sequence</p>

<figure>
	{{>underneath}}
	<figcaption><small>Credits: Illustration by Isaiah Saxon</small></figcaption>
</figure>

<h3>Challenges</h3>
<p>Underneath was one of those projects that comes along where ambivalence sets in but luckily the desire to work on such an amazing project made everything all better. Since the graphic was originally created in Photoshop meant it had to be converted to vector in order to animate.</p>

<p>It was decided that in order to find the most efficient possible method that would also result in the most likeness to the original to use tracing option in Illustrator.</p>

<h3>Results</h3>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus similique vero porro sit. Adipisci pariatur distinctio sit repellat odit maiores, sed dolor voluptates itaque eum. Quis laudantium atque, officia adipisci.</p>

<figure class="figure-site">
	<p data-height="660" data-theme-id="24353" data-slug-hash="dGKgKP" data-default-tab="result" data-user="grayghostvisuals" data-embed-version="2" class="codepen">See the Pen <a href="https://codepen.io/grayghostvisuals/pen/dGKgKP/">Underneath</a> by GRAY GHOST (<a href="http://codepen.io/grayghostvisuals">@grayghostvisuals</a>) on <a href="http://codepen.io">CodePen</a>.</p>

	<figcaption><small>View the live demo of Underneath on <a href="https://codepen.io/grayghostvisuals/pen/dGKgKP/">CodePen</a></small></figcaption>
</figure>
