---
basename: landing
title: Gray Ghost Visuals
layout: default
description: A design and development company based in Buffalo, New York using the Web as our medium to create stunning, performant experiences that delight and engage.
---

<div class="ggv-hero">
  <h1 class="ggv-csheadline"><span>Helping</span><span>Create</span></h1>
  <h2 class="ggv-csheadline _push"><span>A</span><span>Better</span><span>Web</span></h2>
</div>

<div class="ggv-slogan">
  <p>Pragmatic and thoughtful solutions are what drive my work each day. Think abstractly and work pragmatically in this ever changing environment we call The Web.</p>
</div>