---
basename: landing
title: Landing
layout: default
description: Web development, design & consulting service based in Rochester, New York providing HTML, CSS & JavaScript expertise for responsive & modular component development, atomic design, interaction, interface motion, style guides, svg animation, technical writing, WordPress support & customizations
---

{{> banner}}

<section class="ggv-winfo">
	<h3 class="ggv-headline _reverse">
		<span>The</span>
		<span>Work</span>
	</h3>

	<div class="ggv-container">
		<ul class="ggv-cards list-reset">
			<li>
				{{> devgraphic }}
				<h4 class="ggv-cards__title">Modular Development</h4>
				<p>Building &amp; studying an interface from a molecular level helps to ensure that each component of a system can travel across a wide range of scenarios that remain reusable and endure the test of time. <a href="/work">View our case studies</a>.</p>
			</li>

			<li>
				{{> handgraphic }}
				<h4 class="ggv-cards__title">Interaction &amp; Motion</h4>
				<p>Produce a product with great motion design and ensure your users' interaction is just as thoughtful and meaningful. By examining and fine tuning motion and movement your users will fall in love and not even realize why. <a href="/work">View our case studies</a>.</p>
			</li>

			<li>
				{{> bulbgraphic}}
				<h4 class="ggv-cards__title">Consulting</h4>
				<p>Does your team or your business have a need to discuss a subject with someone more knowledgeable? Helping to ensure you have the best access to the right answers is where the help begins. <a href="/contact">Get In Touch</a>.</p>
			</li>
		</ul>
	</div>
</section>

<section class="ggv-winfo">
	<h3 class="ggv-headline _reverse">
		<span>The</span>
		<span>Methods</span>
	</h3>

	<div class="ggv-container">
		<ul class="ggv-cards list-reset">
			<li>
				<h4 class="ggv-cards__title">See The Big Picture</h4>
				<p>Where most see pages we see a set of systems. Systems that work together across various locations that when combined, form a moving and functioning organism. We take a step back and look at the project from a larger point of view to gain an understanding of objectives for both you and your intended audience. <a href="/contact">Get In Touch</a>.</p>
			</li>

			<li>
				<h4 class="ggv-cards__title">Role Casting</h4>
				<p>Having an abundant network of connections is why we work with a variety of sources that match your needs. Some describe working with different entities much like role casting; the right person is always chosen to fit with the project requirements. Some companies hide behind indy contracts when work is produced through a collaborative effort, but when we pick the right team members you know each one by name and discuss your concerns with them directly throughout the duration of your project. <a href="/contact">Get In Touch</a>.</p>
			</li>
		</ul>
	</div>
</section>

<section id="testimonials" class="ggv-winfo">
	<h3 class="ggv-headline _reverse">
		<span>The</span>
		<span>Testimonials</span>
	</h3>
	{{> quotes}}
</section>
