---
basename: landing
title: Gray Ghost Visuals
layout: default
description: A design and development company based in Buffalo, New York using the Web as our medium to create stunning, performant experiences that delight and engage.
---

<div class="ggv-hero">
  <h1 class="ggv-headline _default _hero"><span>Helping</span><span>Create</span></h1>
  <h2 class="ggv-headline _default _hero _push"><span>A</span><span>Better</span><span>Web</span></h2>
</div>

<div class="ggv-slogan">
  <p>Pragmatic and thoughtful solutions are what drive my work each day. Think abstractly and work pragmatically in this ever changing environment we call The Web.</p>
</div>

<section class="ggv-winfo" id="trigger">
  <h3 class="ggv-headline _reverse"><span>The</span><span>Work</span></h3>

  <div class="ggv-wtypes">
    <div class="">
      <h4>Development</h4>
      {{> devgraphic }}
      <p>Building atomically and studying molecularly helps to ensure that each component of an interface can travel across a wide array of scenarios that endure the test of time by remaining reusable. <a href="#">Learn More</a></p>
    </div>

    <div class="">
      <h4>Design</h4>
      {{> handgraphic }}
      <p>Ensure your product has great design not only visually, but as your users engage and interact. By examining and fine tuning motion and appearance your users will fall in love and not even realize why. <a href="#">Learn More</a></p>
    </div>

    <div class="">
      <h4>Consulting</h4>
      {{> bulbgraphic}}
      <p>Does your team or your business have a need to discuss a subject with someone more knowledgeable? Helping to ensure you have the best access to the right answer’s is where the help begins. <a href="#">Get In Touch</a></p>
    </div>
  </div>
</section>

<section id="process">
  <h3>The Process</h3>
  <p>Where most see pages we see a set of systems. Systems that work together across many various locations that when combined, form a moving and functioning organism.</p>
  <p>I believe in the power of being open and transparent with my work by sharing through written, open source or video form. By sharing what we've learnede and created other can benefit and build awesome amazing things with this knowledge.</p>
  <p>Having an abundant network of connections is why I work with a variety of sources that meet the match for the project. Some describe working with different entities much like role casting. The right person is chosen to fit with the project requirements.</p>

  <h3>Published Pieces</h3>
  <p>Articles and tutorials published under Dennis Gaebel on behalf of Gray Ghost Visuals have appeared in an assortment of industry respected publications online and in print on topics such as SVG, Development Workflow, Tooling, Accessibility, CSS, JavaScript, Animations & Interaction, Sass along with a wide range of other topics relating to Web Design and Development.</p>

  <ul class="ggv-publist">
    <li><a href="https://web-design-weekly.com">{{> logo-wdw}}</a></li>
    <li><a href="https://css-tricks.com">{{> logo-csstricks}}</a></li>
    <li><a href="http://webdesign.tutsplus.com">{{> logo-tutsplus}}</a></li>
    <li><a href="http://www.sitepoint.com">{{> logo-sitepoint}}</a></li>
  </ul>

  <h3>Speaking Engagements</h3>
  <p>Gray Ghost Visuals speaks at a wide variety of locations and events or pretty much whereever anyone is willing to listen to us ramble. Talking and discussing ideas and philosophies as they relate to Web Design is what keeps the fires burning.</p>

  {{> speaking-engagements}}
</section>

<section id="testimonials">
  <h3>What Others Say</h3>

  <div class="testimonials">
  {{> quotes}}
  </div>
</section>
