---
basename: landing
title: Gray Ghost Visuals
layout: default
description: A design and development company based in Buffalo, New York using the Web as our medium to create stunning, performant experiences that delight and engage.
---

<div class="ggv-hero">
  <h1 class="ggv-headline _default _hero"><span>Helping</span><span>Create</span></h1>
  <h2 class="ggv-headline _default _hero _push"><span>A</span><span>Better</span><span>Web</span></h2>
</div>

<div class="ggv-slogan">
  <p>Pragmatic and thoughtful solutions are what drive my work each day. Think abstractly and work pragmatically in this ever changing environment we call The Web.</p>
</div>

<h3 class="ggv-headline _reverse"><span>The</span><span>Work</span></h3>

<h4>Development</h4>
{{> devgraphic }}
<p>Building atomically helps to ensure that each component of an interface can travel across a wide array of uses and scenarios making each part lasting. <a href="#">Learn More</a></p>

<h4>Design</h4>
<p>Ensure your product has great design not only visually but as your users engage and interact with your product. By examining and fine tuning motions your users will fall in love and not even realize why. <a href="#">Learn More</a></p>

<h4>Consulting</h4>
{{> bulbgraphic}}
<p>Does your team or your business have a need to discuss a subject with someone more knowledgeable? Helping to ensure you have the best access to the right answer’s where the help begins. <a href="#">Get In Touch</a></p>

{{> quotes}}
