---
basename: landing
title: Landing
layout: default
description: A design and development company based in Rochester, New York using the Web as our medium to create stunning, performant experiences that delight and engage. We also specialize in print projects such as branding materials and logo design.
---

<div class="ggv-hero">
	<h1 class="ggv-headline _default _hero">
		<span>Helping</span>
		<span>Create</span>
	</h1>

	<h2 class="ggv-headline _default _hero _push">
		<span>A</span>
		<span>Better</span>
		<span>Web</span>
	</h2>

	<div class="ggv-slogan">
		<p>Pragmatic and thoughtful solutions are what drive work each day. Think abstractly and work pragmatically.</p>
		<a href="mailto:grayghost@grayghostvisuals.com?subject=Gray Ghost Visuals Project Inquiry&body=Howdy Dennis,%0A%0AWe would love to work with Gray Ghost Visuals for our upcoming project.%0A" id="js-ripple-btn" class="material-button">
			Start A New Project
			<svg class="material-ripple" id="js-ripple" aria-hidden="true">
				<use height="100" width="100" xlink:href="#ripple-shape" class="js-ripple"></use>
			</svg>
		</a>
	</div>
</div>
