---
basename: casestudy
layout: default
title: Murmuration-Malts
logo: logo-murmuration.svg
description: A case study example by Gray Ghost Visuals based in Rochester, New York showcasing branding and identity design along with custom WordPress web development.
tags: branding, wordpress, web development
categories: client
url: http://murmurationmalts.com
summary: The Artisanal Malthouse of the Fingerlakes
---

{{! ---- LOGO ---- }}
{{> logo-murmuration}}

{{! ---- TAGLINE ---- }}
<h2 class="ggv-headline _reverse"><span>Growing</span><span>Local</span></h2>

{{! ---- META ---- }}
<ul class="ggv-list">
	<li><b>Project:</b> Visual Design, Website Design &amp; Custom WordPress Development.</li>
	<li><b>URL:</b> <a href="{{url}}">{{url}}</a></li>
	<li><b>Tooling:</b> Adobe Illustrator, Adobe Photoshop, InVision, Google Docs, Gulp, Bower, Git, Vagrant</li>
	<li><b>Languages:</b> HTML, PHP, CSS, Sass, JavaScript</li>
	<li><b>Libraries:</b> TinyNav, Google Maps, Flickity, Advanced Custom Fields, Gravity Forms</li>
	<li><b>CMS:</b> WordPress</li>
</ul>

{{! ---- ABOUT ---- }}
<section>
	<h3>About Murmuration Malts</h3>
	<p>Murmuration Malts strives everyday to be “The Artisanal Malthouse of the Fingerlakes” with it's roots based in West Bloomfield, NY. Each batch of malt is cared for by hand to ensure the finest result is produced for beer lovers of every variety.</p>
</section>

{{!-- BRANDING --}}
<section>
	<h3>Branding Work</h3>
	<p>It was discussed in early brain-storming sessions the identity was to portray a particular set of qualities. Those qualities would include associations with words such as rustic, natural, earthy, inviting and authentic while using a few constraints to guide. Our constraints were clear; it must incorporate the text “murmuration malts”, possess a red wing blackbird and contain 2 row barley; considered by many malters as the finest barley one can obtain.</p>

	<h4>Finding a Style</h4>
	<p>InVision app was leveraged in order to gather reserach in a way that would allow for smooth communication. It was there we began our road to discovery on identity appearance, style of the work and pairing of typefaces for which <a href="https://www.typography.com/fonts/gotham/overview/">Gotham</a>, <a href="https://www.typography.com/fonts/gotham/inside/gotham-condensed">Gotham Condensed</a> and <a href="https://www.typography.com/fonts/sentinel/overview">Sentinel</a> were chosen. The final logo design was also to appear hand-drawn and so began the journey of collecting samples showcasing how this hand-drawn style should be depicted.</p>

	{{> figure figure.murmuration.section.a}}
	{{> figure figure.murmuration.section.b}}

	<h4>Looking Professional</h4>
	<p>It was just as important to have a wide array of marketing material in order to advertise and conduct business in a profesionally and artistically mature manner. Items such as business cards, t-shirts, letterheads, tags, stickers and even buttons went through multiple discovery sessions to arrive at each finished piece ensuring the purpose of each was fitting.</p>

	{{> figure figure.murmuration.section.c}}
	<p>Business cards were designed as part of the project scope and stood upon the shoulders of previously discussed intentions. Using the vintage, hand-drawn direction, the cards were given a burlap texture to reference the earthy visual appeal and match what the malt is packaged within; a burlap bag.</p>

	{{> figure figure.murmuration.section.d}}
	<p>Tag designs were also created to attach to each malt bag offered to customers. Requirements were discussed for the label fields used on the tags in order to make sure those purchasing malts had the information required.</p>

	{{> figure figure.murmuration.section.e}}
	<p>Stickers were created to further help marketing and awareness. While they're not sold, these stickers are intended for use in many situations such as mailers, freebies to customers and packaging.</p>

	{{> figure figure.murmuration.section.f}}
	<p>A letterhead design was created to look like a pro for invoices, mailers and other business essentials.</p>

	<p>Additional samples of project work can also be seen on Dribbble such as <a href="https://dribbble.com/shots/3365737-Murmuration-Woman-s-Tee">Murmuration Woman's Tee</a>, <a href="https://dribbble.com/shots/3359779-Murmuration-Tee">Murmuration Men's Tee</a>, <a href="https://dribbble.com/shots/3392994-Murmuration-Round-Sticker-White-on-Black">Round Sticker: Black/White</a>, and <a href="https://dribbble.com/shots/3359765-Murmuration-Round-Sticker-Gold-Black-on-Red">Round Sticker: Gold/Black/Red</a>.</p>
</section>

{{!-- WEBSITE --}}
<section>
	<h3>The Website</h3>
	<p>It was discussed in early stages that the owners desired to manage their own content. For us, WordPress was the obvious choice. The site was also built with a responsive foundation and a mobile first approach.</p>

	<h4>Process</h4>
	{{!-- explanation how each icon came to be in order to make sense to people. --}}
	<p>In-vision was used to create a functional application interface to share before beginning the entire build in WordPress. This allowed each of us to understand the traversing of the site and how a user moves throughout as well as making sure actions are relevant and meaningful to their experience. Google Docs was also a helpful tool to share content strategy information and allow constant and streamlined feedback.</p>

	{{> figure figure.murmuration.section.g}}
	{{> figure figure.murmuration.section.h}}

	<h4>Custom Icons</h4>
	<p>In order to maintain a unique style with the brand and message a suite of custom icons were created. These helped to push the message visually on features that make them a unique malting business.</p>

	{{> figure figure.murmuration.section.k}}
	<p>Each icon was carefully examined and discussed in order to ensure the visual depiction made sense to the corresponding text. As a result of these discussions and work are a beatifully crafted set of vector icons ready for web or print.</p>

	<h4>The Final Product</h4>
	<p>Based on our research though these discovery sessions it was decided a one page website would fulfill the needs as a multiple page website would be overkill and over-engineering a situation that only asked for simplicity. The result is a one page website that posseses this required functionality and fulfills expectations a typical customer would be searching for.</p>

	{{> figure figure.murmuration.section.i}}
	{{> figure figure.murmuration.section.j}}
</section>

{{!-- NOTEWORTHY --}}
<section>
	<h3>Noteworthy</h3>
	<p>As with every project the path of learning is always lurking about and this project was no different than any other. It was a huge learning experience from branding to development and something we decided to share in a Tuts+ article discussing the process of <a href="http://webdesign.tutsplus.com/tutorials/how-to-conduct-an-interface-inventory-with-invision--cms-25792">conducting interface inventories</a>.</p>
</section>
