---
basename: casestudy
title: staple-web
layout: default
published: 05-06-17
logo: logo-staple.svg
description: A case study example by Gray Ghost Visuals based in Rochester, New York showcasing the construction of an SVG animation sequence using GreenSock.
tags: svg animation
categories: client
url: https://www.staplewebdesign.com
summary: A small interactive design studio building websites that bridge the gap between form and function.
---

{{> logo-staple}}
<h2 class="ggv-headline _reverse"><span>Faking</span><span>Motion</span></h2>

<ul class="ggv-list">
	<li><b>Project:</b> SVG Animation</li>
	<li><b>Website:</b> <a href="{{url}}">{{url}}</a></li>
	<li><b>Tooling:</b> Adobe Illustrator, SVGO</li>
	<li><b>Languages:</b> HTML, XML, Sass, JavaScript</li>
	<li><b>Libraries:</b> TweenMax by <a href="https://greensock.com/gsap">GreenSock</a></li>
</ul>

<h3>About Staple Web Design</h3>
<p>A small interactive design studio in Buffalo, New York building websites that bridge the gap between form and function and focus on both aesthetics and usability for clients of all sizes.</p>

<h3>Project Scope</h3>
<p>Staple Web Design required an animation to compliment their home page call to action. The request was to use the provided vector artwork and create the appearance of speed as the proto car zooms into view once the CTA text and button completed a fade-in sequence.</p>

<h3>Research</h3>
<p>To fully understand the essence of speed, thorough research and time was invested. Through the power of YouTube, multiple videos of proto cars were rigorously examined; specifically how motion arises to spectators. Most spectators rarely notice the wheels spinning including elements on the tires die wall that lend the impression of remaining in place as the tire revolves.</p>

{{> figure figure.staple.section.a}}

<h3>Challenges</h3>
<p>The challenge first and foremost was to create an appearance of the wheels spinning without revolving the wheels themselves. Based on research conducted via the YouTube videos mentioned prior, it was decided to pulsate the wheel logo, flash the inner rim gradient and slightly move the wheels up and down to mimic them riding over small bumps in the race track. Next steps were to slightly move up and down (rumble) the vehicle including the shadow. Flickering highlights on the fenders and windshield were the final touches to give the sense of motion and speed.</p>

{{> figure figure.staple.section.b}}

<h3>Final Product</h3>
<p>As with all projects that present a challenge in initial stages, the final result was exactly what was desired; faking motion and creating the appearance of speed.</p>

{{> figure figure.staple.section.c}}
