---
basename: casestudy
title: staple-web
layout: default
published: 05-06-17
logo: logo-staple.svg
description:
tags: svg animation
categories: client
url: https://www.staplewebdesign.com
summary: A small interactive design studio building websites that bridge the gap between form and function.
---

{{> logo-staple}}
<h2 class="ggv-headline _reverse"><span>Faking</span><span>Motion</span></h2>

<ul class="ggv-list">
	<li><b>Project:</b> SVG Animation</li>
	<li><b>Website:</b> <a href="{{url}}">{{url}}</a></li>
	<li><b>Tooling:</b> Adobe Illustrator, SVGO</li>
	<li><b>Languages:</b> HTML, XML, Sass, JavaScript</li>
	<li><b>Libraries:</b> TweenMax by <a href="https://greensock.com/gsap">GreenSock</a></li>
</ul>

<h3>About Staple Web Design</h3>
<p>A small interactive design studio building websites that bridge the gap between form and function.</p>

<h3>Research</h3>
<p>Subtle effects are used to sell the concept of motion for this prototype race car. Takes advantage of GreenSock's TimelineMax to sell the movement.</p>

<figure class="figure-site">
	<img src="{{site.imgdir}}clients/staple-web/protocar.gif" alt="">
	<figcaption><small>SVG Prototype Car Up Close</small></figcaption>
</figure>

<h3>Challenges</h3>
<p>To really understand the essence of motion in terms of a race car research was invested. Through the power
of YouTube many videos were watched of racing in order to examine very carefully what really goes into making appear
rotation at high speeds. Most never notice the wheel moving and sometimes labels, logos and things on the tires die wall appear to stay
in place as the tire revolves at such high RPMS.</p>

<p>pulse the wheel logo, flash the inner rim gradient, move wheels up and down to mimic moving over
small bumps in the race track. slightly move up and down (rumble) the vehicle along with the shadow to simulate
the effect we the wheels move up and down. flicker highlights on the fenders and windshield.</p>

<h3>Final Product</h3>
<p>As with all projects that present a challenge in initial stages, the final result was exactly what was desired. The ending result was able to accomplish the goals; faking motion and creating movement</p>
<figure class="figure-site">
	<img src="{{site.imgdir}}clients/staple-web/staple-svg.gif" alt="">
	<figcaption><small>Final Production Placement of SVG Animation</small></figcaption>
</figure>
