---
basename: casestudy
title: Suit-And-Axe
layout: default
published: 09-02-15
logo: logo-suitandaxe.svg
description:
tags: svg animation
categories: client
url: http://suitandaxe.com
summary:
---

{{> logo-suitandaxe}}

<h2 class="ggv-headline _reverse"><span>Fitting</span><span>Shirts</span></h2>

<ul class="ggv-list">
	<li><b>Project:</b> SVG Animation</li>
	<li><b>Website:</b> <a href="{{url}}">{{url}}</a></li>
	<li><b>Tooling:</b> Adobe Illustrator, Gulp, Git</li>
	<li><b>Languages:</b> HTML, XML, Sass, JavaScript</li>
	<li><b>Libraries:</b> TweenMax by <a href="https://greensock.com/gsap">GreenSock</a></li>
</ul>

<h3>About Suit And Axe</h3>
<p>Our #1 goal is to create great fitting shirts that are well designed for tall men.</p>

<figure class="figure-site">
	<img src="{{site.imgdir}}clients/suit-and-axe/site.png" alt="">
</figure>

<!-- https://codepen.io/grayghostvisuals/pen/MaWNKN?editors=0100 -->
<figure class="figure-site">
	<img src="{{site.imgdir}}clients/suit-and-axe/site-preview.gif" alt="">
	<figcaption><small>Final Animation Sequence and Placement</small></figcaption>
</figure>
