---
basename: casestudy
title: Theron
layout: default
description:
categories: client
tags: design, web development, svg animation
projecturl: https://www.wearethehits.com
url: http://theronstudios.com
summary: Custom Interface Development and Bootstrap Integration
logo: logo-theron.svg
---

{{> logo-theron}}

<h2 class="ggv-headline _reverse"><span>Building</span><span>Incredible</span></h2>

<ul class="ggv-list">
  <li><b>Company:</b> Theron Studios LLC.</li>
  <li><b>Category:</b> {{capitalize categories}}</li>
  <li><b>Project:</b> Front-end Interface Development</li>
  <li><b>Website:</b> <a href="{{projecturl}}">{{projecturl}}</a></li>
  <li><b>Languages:</b> HTML, XML, Sass <code>{.scss}</code>, JavaScript</li>
  <li><b>Tooling:</b> Node, Gulp, SVGO, Git</li>
</ul>

<p>Learning Sales Tracking has never been easier using tracks and it’s amazing drag and drop interface. Tracks is focused on helping small businesses keep up to date with monthly sales and revenue. This is the lifeblood of a small company. It’s what keeps you in business. And it’s what fuels your growth.</p>

<p>You pay bills monthly, you pay staff monthly, you prepare reports monthly, you set targets monthly. Geez, you even work hard at sales, so you can pay your mortgage monthly so we’ve built a sales tool around that.</p>

<p>Tracks integrates with both Highrise CRM and Google Apps. It is also a stand-alone sales pipeline tool, so you don’t need an account with either to sign up.</p>

<figure class="figure-site">
  <img src="{{site.imgdir}}clients/theron/theron-feat-img.png" alt="">
</figure>

<h3>Project Details</h3>

Pre-Processors: Sass
Languages: HTML, CSS, JavaScript, PHP
Libraries: jQuery, Draggable, Pjax, Custom Bootstrap Port, Rome

<h3>Process</h3>

<p>Using prototypes created using in-vision build and structure a working and functional applicaiton interface. Since this was a complete build from the ground up SVG was used throughout along with flexbox to help.</p>

<h3>Noteworthy</h3>

<p>This project introduced a custom chart using Canvas as the foundation and was written about on our personal blog about the process and customization techniuques which you can read more about here <a href="http://blog.grayghostvisuals.com/js/custom-chartjs-gradient">“Creating A Custom Graph And Gradient With ChartJS”</a>.</p>

<figure class="figure-site">
  <p data-height="425" data-theme-id="24353" data-slug-hash="gpROOz" data-default-tab="result" data-user="grayghostvisuals" data-embed-version="2" class="codepen">See the Pen <a href="http://codepen.io/grayghostvisuals/pen/gpROOz/">Custom ChartJS Gradient</a> by GRAY GHOST (<a href="http://codepen.io/grayghostvisuals">@grayghostvisuals</a>) on <a href="http://codepen.io">CodePen</a>.</p>

  <figcaption><small>View the live demo on <a href="http://codepen.io/grayghostvisuals/pen/gpROOz">CodePen</a></small></figcaption>
</figure>
