---
basename: casestudy
title: Theron
layout: default
description: A case study example by Gray Ghost Visuals showcasing interface design, SVG animations, and Front-end Web development.
categories: client
tags: design, responsive design, web development, svg animation
url: http://theronstudios.com
summary: a small team of giants that believes in helping companies grow their brand
logo: logo-theron.svg
---

{{> logo-theron}}

<h2 class="ggv-headline _reverse"><span>Building</span><span>Incredible</span></h2>

<ul class="ggv-list">
	<li><b>Company:</b> Theron</li>
	<li><b>Projects:</b>
		<ul>
			<li>
				<a href="#wath">WATH</a>
				<ul>
					<li><b>Duties:</b> Front-end Development</li>
					<li><b>Languages:</b> HTML, CSS, Sass, JavaScript, Liquid, YAML</li>
					<li><b>Tooling:</b> Adobe Illustrator, Adobe Photoshop, Jekyll, Gulp, Git</li>
					<li><b>Libraries:</b> jQuery, Bootstrap</li>
				</ul>
			</li>
			{{!--
			<li>
				<a href="#smarton">Smarton</a>
				<ul>
					<li><b>Duties:</b> Development & Design</li>
					<li><b>Languages:</b> HTML, CSS, Sass, JavaScript, Liquid, YAML</li>
					<li><b>Tooling:</b> Adobe Illustrator, Adobe Photoshop, Jekyll, Gulp, Git</li>
				</ul>
			</li>
			<li>
				<a href="#xandali">Xandali</a>
				<ul>
					<li><b>Duties:</b> SVG Development & Animation</li>
					<li><b>Languages:</b> HTML, Sass, JavaScript, XML</li>
					<li><b>Tooling:</b> Adobe Illustrator, CodePen</li>
					<li><b>Libraries:</b> GreenSock</li>
				</ul>
			</li>
			<li>
				<a href="#suitaxe">Suit and Axe</a>
				<ul>
					<li><b>Duties:</b> SVG Development & Animation</li>
					<li><b>Languages:</b> HTML, Sass, JavaScript, XML</li>
					<li><b>Tooling:</b> Adobe Illustrator, CodePen</li>
					<li><b>Libraries:</b> GreenSock</li>
				</ul>
			</li>
			--}}
		</ul>
	</li>
</ul>

{{!-- ABOUT --}}
<section>
	<h3>About Theron Studios</h3>
	<p>We are a digital creative agency specializing in mobile. We are a small team of giants that believes in helping companies grow their brand by using innovative strategies &amp; beautiful designs. Our passion is to help clients build amazing experiences for their customers. At the heart of what we do, the reason why we wake up, and the goal of our company is to create.</p>
</section>

{{!-- WATH --}}
<section id="wath">
	{{! ---- GOALS ---- }}
	<h3>WATH Project</h3>
	<p>Interface development and design handoff for We Are The Hits.</p>
	<p>Using Jekyll and Bootstrap the interface for <a href="https://www.wearethehits.com">WATH</a> required an easy handoff to a third party team with the intentions of integrating into Angular. Bootstrap and jQuery were requested for the convenience of additional developers to understand and manage the code base.</p>

	{{> figure figure.theron.section.a}}

	{{! ---- PROCESS ---- }}
	<h3>Process</h3>
	<p>All page designs were created with Sketch and used for reference towards development. Scope requirements were discussed through an informal and short Q&amp;A session, and documented with Evernote. Any development updates requiring review were pushed to GitHub to preview first hand.</p>

	{{> figure figure.theron.section.c}}

	<p>A custom chart was created using Canvas as the foundation, and the techniques for building this component are also documented on our personal blog <a href="http://blog.grayghostvisuals.com/js/custom-chartjs-gradient">“Creating A Custom Graph And Gradient With ChartJS.”</a></p>

	<p>Bootstrap was required in order for additional developers to possess a trusted guide for any future changes/additions. Device testing was completed with Xcode simulator for iOS and Browserstack for additional support checks. Jekyll was also used for creating template structure as the foundation for the template handoff drafts.</p>

	<h3>Final Results</h3>
	{{> figure figure.theron.section.b}}
	{{> figure figure.theron.section.f}}
</section>

{{!-- SMARTON --}}
{{!--
<section id="smarton">
	<h3>Smarton Interface Design & Development</h3>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	{{> figure figure.theron.section.d}}
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	{{> figure figure.theron.section.e}}
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</section>
--}}

{{!-- XANDALI --}}
{{!--
<section id="xandali">
	<h3>Xandali</h3>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

	<p data-height="445" data-theme-id="24353" data-slug-hash="pjbNQY" data-default-tab="result" data-user="grayghostvisuals" data-embed-version="2" data-pen-title="The Xandali Effect: Animated Logo" class="codepen">See the Pen <a href="https://codepen.io/grayghostvisuals/pen/pjbNQY/">The Xandali Effect: Animated Logo</a> by GRAY GHOST (<a href="https://codepen.io/grayghostvisuals">@grayghostvisuals</a>) on <a href="https://codepen.io">CodePen</a>.</p>

	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</section>
--}}

{{!-- SUIT & AXE --}}
{{!--
<section id="suit-and-axe">
	<h3 id="suitaxe"><a href="http://suitandaxe.com">Suit and Axe</a> Logo</h3>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

	<p data-height="395" data-theme-id="24353" data-slug-hash="MaWNKN" data-default-tab="result" data-user="grayghostvisuals" data-embed-version="2" data-pen-title="Suit & Axe: Animated Logo" class="codepen">See the Pen <a href="https://codepen.io/grayghostvisuals/pen/MaWNKN/">Suit & Axe: Animated Logo</a> by GRAY GHOST (<a href="https://codepen.io/grayghostvisuals">@grayghostvisuals</a>) on <a href="https://codepen.io">CodePen</a>.</p>

	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</section>
--}}
