---
basename: casestudy
title: Tracks
layout: default
description:
categories: client
projecturl: http://tracks.grayghostvisuals.com
url: http://buildtracks.com
summary: Flexbox Interface, Atomic Design Principles
logo: logo-tracks.svg
---

{{> logo-tracks}}

<h2 class="ggv-headline _reverse"><span>Atomic</span><span>App</span></h2>

<ul>
  <li><b>Company:</b> Goldhawk Ltd</li>
  <li><b>Category:</b> {{capitalize categories}}</li>
  <li><b>Project:</b> Front-end interface development</li>
  <li><b>Website:</b> <a href="{{projecturl}}">{{projecturl}}</a></li>
  <li><b>Tooling:</b> Node, Gulp, SVGO</li>
  <li><b>Languages:</b> Sass, JavaScript</li>
</ul>

<p>Learning Sales Tracking has never been easier using tracks and it’s amazing drag and drop interface. Tracks is focused on helping small businesses keep up to date with monthly sales and revenue. This is the lifeblood of a small company. It’s what keeps you in business. And it’s what fuels your growth.</p>

<p>You pay bills monthly, you pay staff monthly, you prepare reports monthly, you set targets monthly. Geez, you even work hard at sales, so you can pay your mortgage monthly so we’ve built a sales tool around that.</p>

<p>Tracks integrates with both Highrise CRM and Google Apps. It is also a stand-alone sales pipeline tool, so you don’t need an account with either to sign up.</p>

<figure class="figure-site">
  <img src="{{site.imgdir}}tracks-feat-img.png" alt="">
</figure>

<h3>Project Details</h3>

Pre-Processors: Sass
Languages: HTML, CSS, JavaScript, PHP
Libraries: jQuery, Draggable, Pjax, Custom Bootstrap Port, Rome

<h3>Process</h3>

<p>Using prototypes created using in-vision build and structure a working and functional applicaiton interface. Since this was a complete build from the ground up SVG was used throughout along with flexbox to help.</p>

<h3>Noteworthy</h3>
Since this was a deep exploration not only in atomic design but also flexbox the project neded up being featured in Smashing Magazine (<a href="https://www.smashingmagazine.com/2015/11/flexbox-interfaces-tracks-case-study/">Flexbox Interfaces: Tracks Case Study</a>) discussing our experience when using flexbox and combinging it with complex interface layouts.