---
basename: casestudy
title: Tracks
layout: default
description:
categories: client
projecturl: http://tracks.grayghostvisuals.com
url: http://buildtracks.com
summary: Flexbox Interface, Atomic Design Principles
logo: logo-tracks.svg
---

{{> logo-tracks}}

<h2 class="ggv-headline _reverse"><span>Atomic</span><span>App</span></h2>

<ul class="ggv-list">
  <li><b>Company:</b> Goldhawk Ltd</li>
  <li><b>Category:</b> {{capitalize categories}}</li>
  <li><b>Project:</b> Front-end Development</li>
  <li><b>Project URL:</b> <a href="{{projecturl}}">http://tracks.beta.com</a></li>
  <li><b>Tooling:</b> Node, Gulp, SVGO, Git</li>
  <li><b>Languages:</b> HTML, PHP, Sass <code>{.scss}</code>, JavaScript</li>
  <li><b>Libraries:</b> jQuery, Draggable, Pjax, Custom Bootstrap Port, Rome</li>
</ul>

<p>Learning Sales Tracking has never been easier using tracks and it’s amazing drag and drop interface. Tracks is focused on helping small businesses keep up to date with monthly sales and revenue. This is the lifeblood of a small company. It’s what keeps you in business. And it’s what fuels your growth.</p>

<p>Tracks integrates with both Highrise CRM and Google Apps. It is also a stand-alone sales pipeline tool, so you don’t need an account with either to sign up.</p>

<figure class="figure-site">
  <img src="{{site.imgdir}}clients/tracks/tracks-feat-img.png" alt="">
</figure>

<h3>Process</h3>

<p>Using prototypes created using in-vision build and structure a working and functional applicaiton interface. Since this was a complete build from the ground up SVG was used throughout along with flexbox to help.</p>

<figure>
  <img src="{{site.imgdir}}clients/tracks/tracks-menu.gif" alt="">
</figure>

<p>Motion was taken from Google material design principles stating interactions occur form the point of contact giving the user clear feedback and information as to the action that occurred smoothly without cignitive distruptiveness.</p>

<h3>Challenges</h3>

<b>calendar</b>
<b>isolated case studies of components</b>
<b>naming conventions<b>
<b>swatch creation</b> so developers could copy and paste hex values from the atomic guide. Thsi required conversion of hex colors using regular expressions in javascript some some more traickery to work cross browser due to some interplation with rgba and rgb values.

<h3>Noteworthy</h3>
This project was a deep exploration not only in atomic design, but also flexbox. Progress of the work was by chance discovered resulting in an invitation to write a guest post for Smashing Magazine titled “<a href="https://www.smashingmagazine.com/2015/11/flexbox-interfaces-tracks-case-study/">Flexbox Interfaces: Tracks Case Study</a>” discussing the experiences when using flexbox for complex interface layouts.