---
basename: casestudy
title: Walmedia
layout: default
description: A case study example by Gray Ghost Visuals based in Rochester, New York showcasing the construction of an SVG logo animation sequence using GreenSock.
categories: client
tags: svg animation
projecturl: https://faithmade.com
url: http://liftux.com
summary: A powerful church website builder that helps remove barriers for church volunteers and staff members
logo: logo-faithmade.svg
---

{{> logo-faithmade}}
<h2 class="ggv-headline _reverse"><span>Handwritten</span><span>Faith</span></h2>

<ul class="ggv-list">
	<li><b>Company:</b> <a href="{{projecturl}}">Faithmade</a></li>
	<li><b>Project:</b> SVG Logo Animation</li>
	<li><b>Website:</b> <a href="{{projecturl}}">{{projecturl}}</a></li>
	<li><b>Tooling:</b> Adobe Illustrator, SVGO</li>
	<li><b>Languages:</b> HTML, XML, Sass, JavaScript</li>
	<li><b>Libraries:</b> TweenMax, DrawSVG</li>
</ul>

<h3>About Faithmade</h3>
<p>Easy-to-manage websites for non-profits and churches. With a powerful drag-and-drop page manager, Faithmade is the easiest website tool for your organization.</p>

<h3>Project Request</h3>
<p>Chris Wallace, partner &amp; technology director at <a href="{{url}}">LiftUX</a> requested a handwritten effect using a vector pre-designed by their in-house design team. The goal was to create a handwritten effect of this logo as if a pen was writing the logo out in real-time.</p>

{{!-- box-shadow: 0 -1px 1px rgba(254, 254, 254, 0.1), 0 1px 4px rgba(0, 0, 0, 0.41); --}}
{{> figure figure.walmedia.section.a}}

<h3>Challenges</h3>
<p>The artwork required a small bit of time to allow for organization to ensure paths, strokes were moving the right direction. Each path had to be checked to ensure the writing effect would follow the correct direction of writing.</p>

{{> figure figure.walmedia.section.b}}

<h3>Final Product</h3>
<p>Once the mechanics were in place and motions fine-tuned the result is beautiful and timeless plus supported on a wide range of browsers with wonderful performance.</p>

{{> figure figure.walmedia.section.c}}
