---
basename: casestudy
title: Walmedia
layout: default
description:
categories: client
url: http://faithmedia.com
---

{{> logo-faithmade}}

<h2 class="ggv-headline _reverse"><span>Handwritten</span><span>Faith</span></h2>

<ul>
  <li><b>CLIENT:</b> Walmedia LLC.</li>
  <li><b>CATEGORY:</b> {{ categories }}</li>
  <li><b>PROJECT:</b> Animated Vector Handwriting</li>
  <li><b>WEBSITE:</b> <a href="{{ url }}">{{ url }}</a></li>
</ul>

<p>The Faithmade Website Co. is intended to be used by churches as well as youth groups, non-profits, worship ministries, and conferences. A powerful church website builder that helps remove barriers for church volunteers and staff members.</p>

<p>Chris Wallace, partner & technology director of LiftUX (DBA) of Walmedia LLC. approached Gray Ghost Visuals to create a handwritten effect using a vector pre-designed by their in-house team.</p>

<ul>
  <li><b>Tooling:</b> Adobe Illustrator, Node, Gulp, SVGO</li>
  <li><b>Languages:</b> Sass, JavaScript</li>
  <li><b>Libraries:</b> TweenMax, DrawSVG</li>
</ul>

<figure class="figure-site" style="box-shadow: 0 -1px 1px rgba(254, 254, 254, 0.1), 0 1px 4px rgba(0, 0, 0, 0.41);">
  <img src="{{site.imgdir}}/faithmade-feat-img.jpg" alt="">
</figure>

<h3>Challenges</h3>
<h3>Results</h3>



