---
basename: categories
doc: work
title: Portfolio
description: Featured work and case studies by Gray Ghost Visuals based in Rochester, New York. Examples include an array of Web Development, WordPress Development, Branding Design and SVG Animations.
layout: default
---

<section class="intro-deck">
	<header>
		<h3>Featured Work</h3>
	</header>
	<p>Every client gets treated with the utmost care and respect towards the vision and request. Browse through past projects to gain further insight with each project's processes, challenges and solutions. If you're looking for more projects to convince you <a href="mailto:grayghost@grayghostvisuals.com?subject=Gray Ghost Visuals Project Inquiry&body=Howdy Dennis,%0A%0AWe would love to work with Gray Ghost Visuals for our upcoming project.%0A">Get In Touch</a>.</p>
</section>

<section>
	<header class="visuallyhidden">
		<h2>Clients</h2>
	</header>
	{{> clients}}
</section>
