---
basename: categories
doc: work
title: Portfolio
layout: default
---

{{! http://codepen.io/daviddarnes/pen/wWqqXj }}
<section style="max-width:740px;margin:auto;padding-bottom:60px;">
  <header>
    <h3 style="font-family: 'Ciutadella W04 Medium';text-align:center;font-size:54px;line-height:0;">Our Work</h3>
  </header>

  <p style="font-size:18px;opacity: 0.75;">Every client that comes through our doors gets treated with the utmost care and respect towards the vision and request. Browse through past projects and experiments to gain further insight with each project's processes, challenges and solutions or if you're looking for more projects to convince you <a href="mailto:grayghost@grayghostvisuals.com?subject=Gray Ghost Visuals Project Inquiry&body=Howdy Dennis,%0A%0AWe would love to work with Gray Ghost Visuals for our upcoming project.%0A" style="font-family: 'Ciutadella W04 Bold';text-transform:uppercase;color:inherit;">Get In Touch</a>.</p>
</section>

<div>
  <section>
    <header>
      <h2>Clients</h2>
    </header>
    {{> clients}}
  </section>

  <section>
    <header>
      <h2>Experiments</h2>
    </header>
    {{> experiments}}
  </section>
</div>
