---
basename: categories
title: Portfolio
layout: default
description: Featured work and case studies by Gray Ghost Visuals based in Rochester, New York. Examples include an array of Web Development, WordPress Development, Branding, Print Design and SVG Animations.
---

{{> intro-deck}}

<section>
	<header class="visuallyhidden">
		<h2>Clients</h2>
	</header>
	{{> clients}}
</section>
