html {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.5;
}

.ffo-loaded {
  &.landing nav[role="navigation"] {
    font-family: 'Ciutadella W04 SmBold';
  }

  footer[role="contentinfo"] small {
    font-family: 'Ciutadella W04 SmBold';
  }
}