html.case.diy {
	background: #4B56AC;
	*:not(a) {
		color: white;
	}

	main a {
		color: #4BBAFB;
		&:hover {
			color: white;
		}
	}

	footer small a {
		color: inherit;
	}

	.socials svg#trigger,
	.socials svg#trigger path,
	.socials svg path {
		fill: #4BBAFB;
	}

	main svg {
		width: 45%;
		margin: auto;
		display: inherit;
		@include mq(min, 840px) {
			width: 75%;
		}
	}
}
