html.case.diy {
  background: #4B56AC;
  *:not(a) {
    color: white;
  }

  main a,
  footer a {
    color: #4BBAFB;
    &:hover {
      color: white;
    }
  }

  .socials svg#trigger,
  .socials svg#trigger path,
  .socials svg path {
    fill: #4BBAFB;
  }

  main svg {
    width: 45%;
    margin: auto;
    display: inherit;
		@include mq(min, 840px) {
			width: 75%;
		}
  }
}

// list bold heading: #00D9C1
