html.case.lean-labs {
	background: #313543;
	*:not(a) {
		color: white;
	}

	.socials {
		svg#trigger,
		svg#trigger path,
		svg path {
			fill: #EB8315;
		}

		a {
			&:hover svg path  { fill: white; }
		}
	}

	footer small a {
		color: inherit;
	}
}
