html.case.murmuration-malts {
  background: #E2C454;
  *:not(a) {
    color: black;
  }

	.socials svg#trigger,
	.socials svg#trigger path,
	.socials svg path {
		fill: black;
	}

  main a,
	footer small a {
    color: black;
    box-shadow: 0 1px 0 black;
    &:hover {
      box-shadow: none;
    }
  }
}
