html.case.murmuration-malts {
	background: #E2C454;
	*:not(a) {
		color: black;
	}

	.socials {
		svg#trigger,
		svg#trigger path,
		svg path {
			fill: black;
		}

		a {
			&:hover svg path  { fill: white; }
		}
	}

	main a,
	footer small a {
		color: black;
		box-shadow: 0 1px 0 black;
		&:hover {
			box-shadow: none;
		}
	}
}
