html.case.polyon {
	background: img-url("clients/polyon/space.jpg") top left no-repeat;
	background-attachment: fixed;
	background-size: cover;
	*:not(a) {
		color: white;
	}
	.polyonlion {
		transform: translateX(100%);
	}
	.socials {
		svg#trigger,
		svg#trigger path,
		svg path {
			fill: #EB8315;
		}

		a {
			&:hover svg path  { fill: white; }
		}
	}
}
