html.case.polyon {
  background: img-url("clients/polyon/space.jpg") top left no-repeat;
  background-attachment: fixed;
  background-size: cover;
  *:not(a) {
    color: white;
  }
}

html.case.polyon .polyonlion {
  transform: translateX(100%);
}