html.case.staple-web {
  background: darken(#E57152, 15%);
  *:not(a) {
    color: #FFFEFE;
  }
	.socials svg#trigger,
	.socials svg#trigger path,
	.socials svg path {
		fill: #353A41;
	}
	a {
		color: #353A41;
	}
}
