html.case.staple-web {
  background: darken(#E57152, 15%);
  *:not(a) {
    color: #FFFEFE;
  }

	a {
		color: #353A41;
		&:hover,
		&:focus {
			color: white;
		}
	}

	.socials {
		svg#trigger,
		svg#trigger path,
		svg path {
			fill: white;
		}

		a {
			&:hover svg path  { fill: #353A41; }
		}
	}
}
