html.case.theron {
	background: #161819;

	main,
	main h3,
	footer[role="contentinfo"] small {
		color: white;
	}

	.socials {
		svg#trigger,
		svg#trigger path,
		svg path {
			fill: #FB4335;
		}

		a {
			&:hover svg path  { fill: white; }
		}
	}

	main a,
	footer small a {
		color: #FB4335;
		&:hover {
			color: white;
		}
	}

	.ggv-headline {
		color: #FB4335;
	}
}
