html.case.theron {
  background: #161819;

  main,
  main h3,
  footer[role="contentinfo"] small {
    color: white;
  }

  main a {
    color: #FB4335;
  }

  .ggv-headline {
    color: #FB4335;
  }
}