html.case.tracks {
	background: #5B5F7C;
	*:not(a) {
		color: #D3E1E6;
	}

	main a,
	footer a {
		color: #5ec9ff;
		&:hover {
			color: white;
		}
	}

	.socials {
		svg#trigger,
		svg#trigger path,
		svg path {
			fill: #5ec9ff;
		}

		a {
			&:hover svg path  { fill: white; }
		}
	}
}
