html.case.truth-collective {
	background: white;

	.ggv-headline {
		text-shadow: -1px 1px 1px #846e25;
		color: #ffd74e;
	}

	a[href*="contact"] {
		background: #ffd74e;
		color: white;
	}

	.socials {
		svg#trigger,
		svg#trigger path,
		svg path {
			fill: #F1CD46;
		}

		a {
			&:hover svg path  {
				fill: white;
			}
		}
	}
}
