html.case.truth-collective {
	background: white;

	.ggv-headline {
		text-shadow: -1px 1px 1px #846e25;
		color: #ffd74e;
	}

	.figure-site.tools {
		max-width: 400px;
		margin: auto;
	}

	.figure-site img[src*="wireframe"],
	.figure-site img[src*="results-stacked"],
	.figure-site img[src*="results-column"],
	.figure-site iframe {
		box-shadow: none !important;
	}

	.flex-inline {
		display: flex;
		justify-content: center;
		align-items: flex-start;
	}

	iframe {
		max-width: 100%;
	}

	a[href*="contact"] {
		background: #ffd74e;
		color: white;
	}

	.socials {
		svg#trigger,
		svg#trigger path,
		svg path {
			fill: #F1CD46;
		}

		a {
			&:hover svg path  {
				fill: white;
			}
		}
	}
}
