html.case.walmedia {
	background: #1B2D33;
	> *:not(a),
	h3 {
		color: #D9DDDF;
	}

	main a,
	footer a {
		color: #DFD151;
		&:hover {
			color: white;
		}
	}

	.socials {
		svg#trigger,
		svg#trigger path,
		svg path {
			fill: #DFD151;
		}

		a {
			&:hover svg path  { fill: white; }
		}
	}

	footer small {
		color: #D9DDDF;
	}
}
