// ==========================================================
// Bubbles
// ==========================================================

.bubble {
	animation: bubble 5s infinite cubic-bezier(0.55, 0.06, 0.68, 0.19);
	border-radius: 100%;
	position: absolute;
	bottom: 0;
	will-change: transform;
	background: radial-gradient(circle at center, rgba(#FFF, .20) 0, rgba(#FFF, .03) 25%);
}

@keyframes bubble {
	$b-size: 35px;
	$b-surface: -120vh;
	from 	{ transform: translateY($b-size); }
	to 		{ transform: translateY($b-surface); }
}


// ==========================================================
// Banner
// ==========================================================

.ggv-banner {
	box-sizing: border-box;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	overflow: hidden;
	padding: 1rem;
	position: relative;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	color: white;

	&--underwater {
		background-color: map-get($atomic-colors, midnight-blue);
		background-image: img-url("underwater.jpg");
	}

	&__wrap {
		max-width: 700px;
		margin: auto;
	}

	h4 {
		color: white;
		text-align: center;
	}

	> div {
		margin: 80px 0 120px;
	}
}

.ggv-banner__title {
	text-align: center;
	color: white;
}
