.ggv-banner {
	box-sizing: border-box;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	overflow: hidden;
	position: relative;
	font-size: 18px;
	background-color: map-get($atomic-colors, midnight-blue);
	background-image: img-url("underwater.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	color: white;

	@media (max-width: 530px) {
		padding: 1rem;
	}

	&__wrap {
		max-width: 560px;
		margin: auto;
	}

	h3 {
		font-size: 54px;
		line-height: 0;
		text-align: center;
		color: white;
	}

	h4 {
		color: white;
		text-align: center;
	}

	> div {
		margin: 80px 0 120px;
	}
}



// ==========================================================
// Bubbles
// ==========================================================

.bubble {
	animation: bubble 5s infinite cubic-bezier(0.55, 0.06, 0.68, 0.19);
	border-radius: 100%;
	position: absolute;
	bottom: 0;
	will-change: transform;
	background: radial-gradient(circle at center, rgba(#FFF, .20) 0, rgba(#FFF, .03) 25%);
}

@keyframes bubble {
	$b-size: 35px;
	$b-surface: -120vh;
	from 	{ transform: translateY($b-size); }
	to 		{ transform: translateY($b-surface); }
}
