.ggv-cards {
	display: flex;
}


.ggv-cards > * {
	display: flex;
	align-items: baseline;
	align-content: flex-start;
	flex: 1;
	flex-wrap: wrap;
	justify-content: center;
	padding: 20px;
}


.ggv-cards__title {
	flex: 100%;
	margin-bottom: 10px;
	font-size: context-calc(24, 16, rem);
	text-align: center;
}
