$clients: (
	1: diy,
	2: murmuration-malts,
	3: polyon,
	4: staple-web,
	5: theron,
	6: tracks,
	7: walmedia,
	8: lean-labs
);

$clients-color: (
	diy: #4B56AC,
	murmuration-malts: #E2C454,
	polyon: #060E17 img-url("clients/polyon/space.jpg") top left no-repeat,
	staple-web: darken(#E57152, 15%),
	theron: #161819,
	tracks: #5D5D7D,
	walmedia: #1B2D33,
	lean-labs: #313543
);

@keyframes panelSwing {
	from 	{ transform: scale(0); }
	to 		{ transform: scale(1); }
}

@mixin category-style($color, $map) {
	@each $key, $value in $map {
		.ggv-datalist__item.#{$value} {
			background: map-get($color, $value);
			background-size: cover;
			color: white;
		}
	}
}

@mixin animation-delay($delay, $map) {
	@for $i from 1 through length(map-keys($map)) {
		&:nth-child(#{$i}) {
			animation-delay: $i * $delay;
		}
	}
}

.ggv-datalist {
	display: flex;
	flex-wrap: wrap;
	background: #F4F5F6;
}

.ggv-datalist__fig {
	margin: auto;
	max-width: 100px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	transition: 240ms all ease-in-out;
	text-align: center;
	opacity: 1;

	.ggv-datalist__item.staple-web & {
		max-width: 200px;
	}
}

.ggv-datalist__item {
	animation: 700ms ease(in-quad) 0s panelSwing;
	width: 100%;
	height: 320px;
	position: relative;
	transform-origin: center center;
	color: white;
	&::after {
		content: 'read more';
		padding: 20px 0;
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		width: 100%;
		text-align: center;
		text-transform: uppercase;
		font-family: "Ciutadella W04 SmBold";
		z-index: 0;
	}
}

.ggv-datalist__item a {
	display: block;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	transition: 300ms all ease-in-out;
	width: 50%;
	z-index: 1;
	color: white;

	&:hover,
	&:focus {
		outline: none;
		img {
			opacity: 0.1;
		}

		div {
			opacity: 1;
			transform: scale(1);
		}
	}
}

.ggv-datalist__item span {
	display: inline-block;
	max-width: 280px;
	text-align: center;
	margin: auto;
	position: absolute;
	top: 0;
	padding-top: 10px;
	padding-bottom: 10px;
	font-family: "Ciutadella W04 Lt";
	left: 0;
	z-index: 1;
	right: 0;
	text-transform: uppercase;
	font-size: 0.875rem;
	font-weight: 100;
}

.ggv-datalist__item.theron img,
.ggv-datalist__item.murmuration-malts img {
	max-width: 200px;
}

// .ggv-datalist__item.suit-and-axe img {
// 	max-width: 180px;
// }

.ggv-datalist__item.lean-labs img {
	max-width: 220px;
	transform: translateZ(0);
}

// .ggv-datalist__item.suit-and-axe,
// .ggv-datalist__item.suit-and-axe a,
// .ggv-datalist__item.suit-and-axe .ggv-summary {
// 	color: black !important;
// }

.ggv-summary {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	opacity: 0;
	transition: 240ms all ease-in-out;
	transform-origin: center center;
	transform: scale(0);
	font-size: 1rem; // sets parent context as root size.
}

.ggv-summary > * {
	margin: 0;
	text-align: center;
	color: white;
}

.ggv-summary__title {
	font-size: context-calc(26, 16, em);
}

.ggv-summary__desc {
	text-transform: capitalize;
}

.ggv-datalist--clients .ggv-datalist__item {
	@include animation-delay(0.0675s, $clients);
}

@include category-style($clients-color, $clients);
