.figure-site {
	margin-top: 2rem;
	margin-bottom: 2rem;
	margin-left: 0;
	margin-right: 0;
	text-align: center;
	@include mq(min, 840px) {
		margin-left: -120px;
		margin-right: -120px;
	}

	img,
	iframe {
		display: inherit;
		margin: auto;
	}

	figcaption {
		padding-top: 1rem;
		padding-bottom: 0.5rem;
	}

	// Device
	.md-device {
		max-width: 100%;
		margin: auto;
	}

	.md-screen {
		overflow: scroll;
		img {
			position: absolute;
			top: 0;
			z-index: 1;
		}
	}

	// Modifier
	&.inline {
		> img {
			&:nth-of-type(1) {
				float: left;
				width: 80%;
			}
			&:nth-of-type(2) {
				float: right;
				width: 20%;
			}
		}
		figcaption {
			clear: both;
		}
	}

	// Modifier
	&--material-card {
		iframe,
		img {
			box-shadow: 0 -1px 1px rgba(254, 254, 254, 0.12), 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
		}
	}
}
