footer[role="contentinfo"] {
	padding-top: 80px;
	padding-bottom: 10px;
	width: 100%;
	text-align: center;
	small {
		@include font-loader('"Ciutadella W04 SmBold", sans-serif');
		text-transform: uppercase;
		a {
			color: inherit;
		}
	}
}
