// ==========================================================
// Material Button
// ==========================================================

$material-fill-color: #76BFF4;

.material-button {
	appearance: none;
	box-sizing: border-box;
	border-radius: 2px;
	box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.3), 0 1px 1.5px rgba(0, 0, 0, 0.15), 0 1px 1px rgba(0, 0, 0, 0.2);
	display: inline-block;
	text-align: center;
	max-width: 500px;
	padding: 1rem;
	width: 100%;
	text-transform: uppercase;
	&:link,
	&:visited {
		background: #19547b;
		color: white;
	}
	&:focus,
	&:hover,
	&:active {
		cursor: pointer;
		outline: none;
		background: #4A89B1;
	}
}

.material-button {
	appearance: none;
	border: none;
	position: relative;
	transition: 250ms all cubic-bezier(0.4, 0, 0.2, 1);
	font-family: 'Ciutadella W04 SmBold';
}

.material-ripple {
	height: 100%;
	pointer-events: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 0;
	fill: $material-fill-color;
	use {
		opacity: 0;
	}
}
