html:not(.case) nav[role="navigation"] {
	padding-top: 10px;
	width: 100%;
	text-align: center;

	a {
		margin: 10px;
		padding: 5px 0;
		text-decoration: none;

		&:link,
		&:visited {
			color: #76bff4;
		}

		&:focus,
		&:hover,
		&:active,
		&.active {
			font-weight: inherit;
			color: #4380A7;
		}
	}
}
