html:not(.case) nav[role="navigation"] {
	padding-top: 10px;
	width: 100%;
	font-size: 16px;
	text-align: center;

	a {
		margin: 10px;
		padding: 5px 0;
		text-decoration: none;
		text-transform: uppercase;
		color: #76bff4;

		&:visited {
			color: #76bff4;
		}

		&:hover,
		&:focus,
		&:active,
		&.active {
			font-weight: inherit;
			color: #4380A7;
		}
	}
}


nav[role="navigation"] {
	@include font-loader('"Ciutadella W04 SmBold", sans-serif');
}
