// Quotator Required
// ========================================

$quotator-motion: (
	from: rotate3d(100, -1, 1, 90deg),
	to: rotate3d(1, 1, 1, 0)
);

.quotator {
	position: relative;
	width: 100%;
	min-height: 180px;
	max-width: 640px;
	margin: 0 auto;
	img {
		border-radius: 80%;
		box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
		display: block;
		width: 64px;
		margin: auto;
	}
}

.quote {
	position: absolute;
	top: 0;
	left: 0;
	transform: map-get($quotator-motion, from);
	transition-duration: 800ms;
	transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
	transition-property: transform, opacity;
	opacity: 0;

	&.js-current {
		transform: map-get($quotator-motion, to);
		opacity: 1;
	}
}


// Quotator Customized
// ========================================

.quotator {
	position: relative;
	min-height: 180px;

	figure {
		margin: 0;
		padding: 0 20px;
	}

	cite {
		font-size: 110%;
		font-style: normal;
		small {
			display: inline-block;
			margin-top: 10px;
		}
	}

	blockquote {
		padding: 0;
		margin: 0;
		p { margin-top: 0; }
	}
}
