$count: 5;
$proportion: 48px;

.socials {
	margin: auto;
	margin-bottom: 60px;
	position: relative;
	@include size($proportion);

	svg#trigger {
		height: $proportion;
		position: relative;
		z-index: 2;
	}

	svg#trigger,
	a { width: $proportion; }

	svg#trigger,
	svg#trigger path,
	svg path {
		fill: #4BBAFB;
	}

	// svg#trigger:hover path { fill: #003461; }

	a {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		height: 60px;
		position: absolute;
		top: 50%;
		left: 0;
		transition: 900ms all cubic-bezier(0.68, -0.55, 0.265, 1.55);
		transform-origin: top center;
		z-index: 0;
		opacity: 0;
		&:hover                  { cursor: pointer; }
		&:hover svg path         { fill: #003461;   }
		// &:hover svg#trigger path { fill: #003461;   }
	}

	svg         { transform: rotate(-180deg); }
	svg#trigger { transform: rotate(0deg) scale(0.875); }
	svg#github  { transform: rotate(-90deg);  }
	svg#dribble { transform: rotate(90deg);   }

	// svg:hover   { cursor: pointer; }
}

// .socials.is-bloomed a
.socials a {
	opacity: 1;
	padding-top: 50%;
	z-index: 0;
}

@for $i from 1 through $count {
	// .socials.is-bloomed a:nth-of-type(#{$i})
	.socials a:nth-of-type(#{$i}) {
		transform: rotate(($i * (360/($count - 1))) + deg);
		transition-delay: $i * 36ms;
	}
}
