.ggv-graphic {
	height: 192px;
	max-width: 100%;
	overflow: visible;
	visibility: hidden;
	width: auto;

	&:not(:root) {
		overflow: visible;
	}

	g > * {
		stroke-dasharray: 1000;
		stroke-dashoffset: 1000;
	}
}
