// --------------------------------------------------------
// Global Copy
// --------------------------------------------------------

html {
	font: normal 100%/1.5 sans-serif; // 16px base
}

body {
	@include font-loader('"Avenir LT W01_45 Book", sans-serif');
}


// --------------------------------------------------------
// Headings
// --------------------------------------------------------

@for $i from 1 through 6 {
	h#{$i} {
		text-transform: uppercase;
		@include font-loader('"Ciutadella W04 Medium", sans-serif');
		font-weight: 500;
	}
}


// --------------------------------------------------------
// Components
// --------------------------------------------------------

//-------------- Navigation
html:not(.case) nav[role="navigation"] {
	font-size: context-calc(16, 16, rem);
	text-transform: uppercase;
}

.primary-nav {
	@include font-loader('"Ciutadella W04 SmBold", sans-serif');
}


//-------------- Banner
.ggv-banner {
	font-size: context-calc(18, 16, rem);
}

.ggv-banner__title {
	font-size: context-calc(54, 18, em);
	line-height: 0;
}


//-------------- Datalist
.ggv-datalist__item {
	&::after {
		text-transform: uppercase;
		@include font-loader('"Ciutadella W04 SmBold", sans-serif');
	}
}

.ggv-datalist__item-data {
	@include font-loader('"Ciutadella W04 Lt", sans-serif');
	font-size: 0.875rem;
	font-weight: 100;
	text-transform: uppercase;
}

.ggv-summary__title {
	font-size: context-calc(26, 16, em);
}

.ggv-summary__desc {
	text-transform: capitalize;
}

.ggv-summary {
	font-size: 1rem;
}

footer[role="contentinfo"] {
	small {
		@include font-loader('"Ciutadella W04 SmBold", sans-serif');
		text-transform: uppercase;
	}
}
