html {
	font: normal 100%/1.5 sans-serif;
}

.ffo-loaded {
	nav[role="navigation"] {
		font-family: 'Ciutadella W04 SmBold';
	}

	footer[role="contentinfo"] small {
		font-family: 'Ciutadella W04 SmBold';
	}
}
