<div class="ggv-clients">
  {{#category "client"}}
  <div>
    <figure>
      {{#markdown}}{{data.summary}}{{/markdown}}
      <figcaption>
        <cite>
          <a href="/{{ data.categories }}/{{ data.title }}.html"><small>{{data.title}}</small></a>
        </cite>
      </figcaption>
    </figure>
  </div>
  {{/category}}
</div>
