<div class="ggv-catblock">
  {{#category "client"}}
  <div class="ggv-workblock">
    <a href="{{data.title}}.html">{{data.title}}</a>
    {{#markdown}}{{data.summary}}{{/markdown}}
  </div>
  {{/category}}
</div>
