<nav id="nav" class="primary-nav" role="navigation">
  <a href="/work.html" class="{{#is 'categories' this.basename}}active{{/is}}">Featured Work</a>
  {{! <a href="#testimonials" id="ggv-testimonials">Testimonials</a> }}
  <a href="mailto:grayghost@grayghostvisuals.com?subject=Gray Ghost Visuals Contact Inquiry&body=Howdy Dennis,%0A%0AWe're inquiring about a project we currently need assistance with. Here's the details…%0A">Get In Touch</a>
  <a href="http://blog.grayghostvisuals.com">Journal</a>
  <a href="https://github.com/grayghostvisuals">Open Source</a>
	<a href="http://codepen.io/grayghostvisuals">Experiments</a>
  <a href="/atomic-guide.html">Atomic Guide</a>
</nav>
