<nav id="nav" class="primary-nav" role="navigation">
  <a href="/work.html" class="{{#is 'categories' this.basename}}active{{/is}}">Work</a>
  {{! <a href="#about" id="ggv-about">About</a> }}
  {{! <a href="#methods" id="ggv-about">Methodology</a> }}
  <a href="#testimonials" id="ggv-testimonials">Testimonials</a>
  <a href="http://blog.grayghostvisuals.com">Journal</a>
  <a href="mailto:grayghost@grayghostvisuals.com?subject=Gray Ghost Visuals Project Inquiry&body=Howdy Dennis,%0A%0AWe would love to work with Gray Ghost Visuals for our upcoming project.%0A">Get In Touch</a>
  <a href="/atomic-guide.html">Atomic Guide</a>
</nav>