<div class="quotator">
  <div class="quote">
    <figure>
      <blockquote>
        <p>Working with Dennis was a pleasure. He got exactly what I had in mind and went the extra mile to make sure the result would be amazing! It made for a great <a href="//css-tricks.com/polylion">CSS-Tricks</a> article as well.</p>
      </blockquote>

      <figcaption>
        <cite>
          <small><a href="https://twitter.com/jonnotie">Jonno Riekwel</a> &bull; <a href="//polyon.co">Polyon</a></small>
        </cite>
      </figcaption>
    </figure>
  </div>

  <div class="quote">
    <figure>
      <blockquote>
        <p>I love Dennis' ability to push the boundaries of his work using an iterative approach to development when most people want pages!</p>
      </blockquote>

      <figcaption>
        <cite>
          <small><a href="#">Gregor KcKelvie</a> &bull; <a href="//buildtracks.com">Tracks</a></small>
        </cite>
      </figcaption>
    </figure>
  </div>

  <div class="quote">
    <figure>
      <blockquote cite="">
        <p>I love working with Dennis because he’s fearless when speaking up in order to arrive at a better method of solving the problem. He’s knowledgable, quick, and meticulous with his work.</p>
      </blockquote>

      <figcaption>
        <cite>
          <small><a href="https://twitter.com/kennedysgarage">Christopher Kennedy</a> &bull; <a href="//theronstudios.com">Theron Studios</a></small>
        </cite>
      </figcaption>
    </figure>
  </div>

  <div class="quote">
  <figure>
    <blockquote cite="">
      <p>Dennis is one of those rare people that is so well versed and crazy about what he loves that he'll search for the best outlet for that love. What he loves is the Web and the outlets are his clients, students, and fellow colleagues.</p>
    </blockquote>

    <figcaption>
      <cite>
        <small><a href="https://twitter.com/empireoflight">Ben Dunkle</a> &bull; <a href="//field2.com">Field 2 Design</a></small>
      </cite>
    </figcaption>
  </figure>
  </div>

  <div class="quote">
  <figure>
    <blockquote cite="">
      <p>I’ve worked with Dennis on a number of projects, and find the depths he travels to understand and solve problems is second-to-none. Its not often you see someone who has both the focus and determination to dive in and fully understand the why and the how.</p>
    </blockquote>
    <figcaption>
      <cite>
        <small><a href="https://twitter.com/andystaple">Andy Staple</a> &bull; <a href="//www.staplewebdesign.com">Staple Web Design</a></small>
      </cite>
    </figcaption>
  </figure>
  </div>
</div>