<ul>
  <li>
    <a href="http://slides.com/grayghostvisuals/svgpolygons">Creating SVG Polygons</a> : <a href="https://nvite.com/CodepenSF/e288">CodePen San Francisco</a>
  </li>
  <li>
    <a href="http://slides.com/grayghostvisuals/svgpolygons">Creating SVG Polygons</a> : <a href="http://environmentsforhumans.com/2015/css-summit">CSS Summit</a>
  </li>
  <li>
    <a href="http://codepen.io/grayghostvisuals">Rapid Fire Show & Tell</a> : <a href="https://nvite.com/CodePenChicago/abfd">CodePen Chicago</a>
  </li>
  <li>
    <a href="http://slides.com/grayghostvisuals/designing-for-wordpress">Designing for WordPress</a> : <a href="https://buffalo.wordcamp.org/2014/speakers">WordCamp Buffalo 2014</a>
  </li>
  <li>
    <a href="http://speaking.grayghostvisuals.com/wordcamp/2013">Git your WordPress on</a> : <a href="https://buffalo.wordcamp.org/2013/speakers">WordCamp Buffalo 2013</a>
  </li>
  <li>
    <a href="http://speaking.grayghostvisuals.com/wp-theme-directory">Building For WordPress' Theme Directory</a> : <a href="https://buffalo.wordcamp.org/2012/buffalo-speakers">WordCamp Buffalo 2012</a>
  </li>
  <li>
    <a href="http://www.canisius.edu/dma">DMA442 Advanced Digital Design : Canisius College</a>
  </li>
  <li>
    <a href="http://communication.buffalostate.edu">DES473 Graphic Design : Buffalo State</a>
  </li>
  <li>
    <a href="https://www.rit.edu/programs/minors/web-design-and-development">Concept and Symbolism 2010-506-70 : Rochester Institute of Technology</a>
  </li>
  <li>
    <a href="http://www.shepherd.edu">Web Design GRDS 442 : Shepherd University</a>
  </li>
</ul>