<nav id="nav" role="navigation">
	<a href="#colors" id="atomic-colors">Colors</a>
	<a href="#utilities" id="atomic-utilities">Utilities</a>
	<a href="#typography" id="atomic-typography">Typography</a>
	<a href="#components" id="atomic-components">components</a>
</nav>
