<section class="ggv-banner{{#contains 'landing, contact, casestudy, categories, atomicguide' this.basename}} ggv-banner--underwater{{/contains}}">
	<div class="ggv-banner__wrap">
		{{#is 'landing' this.basename}}
		<h1 class="ggv-headline _default _hero">
			<span>Building A</span>
			<span>Better Web</span>
		</h1>

		<div class="ggv-slogan">
			<p>Pragmatic and thoughtful solutions are what drive work each day. Think abstractly and work pragmatically to  create easily maintainable & modular Atomic Design systems, thoughtful prototypes, smooth interface interactions, and progressive SVG systems & animations.</p>

			<div class="grid grid--col2">
				<a href="/contact#contact-form" class="material-button">Start A New Project</a>
				<a href="/work" class="material-button">View Case Studies</a>
			</div>
		</div>
		{{/is}}

		{{#is 'categories' this.basename}}
		<h3 class="ggv-banner__title">Featured Work</h3>
		{{/is}}
		{{#is 'contact' this.basename}}
		<h3 class="ggv-banner__title">Get In Touch</h3>
		{{/is}}
		{{#is 'atomicguide' this.basename}}
		<h3 class="ggv-banner__title">Atomic Guide</h3>
		{{/is}}

		{{#is 'categories' this.basename}}
		<h4>Select A Case Study</h4>
		{{> expando-card}}
		<p>Every client gets treated with the utmost care and respect towards the vision and request. Browse through past projects to gain further insight with each project's processes, challenges and solutions. If you're looking for more projects to convince you <a href="/contact">Get In Touch</a>.</p>
		{{/is}}
		{{#is 'contact' this.basename}}
		<p>Every client gets treated with the utmost care and respect towards the vision and request. If you're looking for more projects to convince you or have a project inquiry <a href="#contact-form">contact us</a>.</p>
		{{/is}}
		{{#is 'atomicguide' this.basename}}
		<p>Breaking down our interface from a molecular level to build out and structure a series of highly reusable components.</p>
		{{/is}}
	</div>
</section>
