<a href="#components" id="js-ripple-btn" class="material-button"{{#is "atomicguide" this.basename}} onclick="event.preventDefault()"{{/is}}>
	Ripple Button
	<svg class="material-ripple" id="js-ripple" aria-hidden="true">
		<use height="100" width="100" xlink:href="#ripple-shape" class="js-ripple"></use>
	</svg>
</a>
