<div class="google-expando--wrap" aria-hidden="true">
	<div class="google-expando">

		<div class="google-expando__icon">
			<svg xmlns="//www.w3.org/2000/svg" viewBox="0 0 48 48"><path d="M38 26H26v12h-4V26H10v-4h12V10h4v12h12v4z"></path></svg>
			<span class="visuallyhidden" aria-hidden="true">Expand Card</span>
		</div>

		<div class="google-expando__card">
			{{#is "categories" this.basename}}
			<ul class="list-reset listing anchor-nav">
				{{#category "client"}}
					<li><a href="#{{data.title}}">{{data.title}}</a> : {{data.tags }}</li>
				{{/category}}
			</ul>
			{{/is}}
			{{#is "atomicguide" this.basename}}
			<p>This is the expando card</p>
			{{/is}}
		</div>

	</div>
</div>
