<section class="intro-deck">
	<div class="intro-deck__wrap">
		<header>
			{{#is 'categories' this.basename}}
			<h3>Featured Work</h3>
			{{/is}}
			{{#is 'contact' this.basename}}
			<h3>Get In Touch</h3>
			{{/is}}
			{{#is 'atomicguide' this.basename}}
			<h3>Atomic Guide</h3>
			{{/is}}
		</header>

		{{#is 'categories' this.basename}}
		<h4>Select A Case Study</h4>
		{{> expando-card}}
		<p>Every client gets treated with the utmost care and respect towards the vision and request. Browse through past projects to gain further insight with each project's processes, challenges and solutions. If you're looking for more projects to convince you <a href="/contact.html">Get In Touch</a>.</p>
		{{/is}}
		{{#is 'contact' this.basename}}
		<p>Every client gets treated with the utmost care and respect towards the vision and request. If you're looking for more projects to convince you or have a project inquiry <a href="#contact">contact us</a>.</p>
		{{/is}}
		{{#is 'atomicguide' this.basename}}
		<p>Breaking down our interface from a molecular level to build out and structure a series of highly reusable components.</p>
		{{/is}}
	</div>
</section>
