<nav id="nav" {{#isnt 'atomicguide' this.basename}}class="primary-nav"{{/isnt}} role="navigation">
	{{#is 'atomicguide' this.basename}}
	<a href="#colors" id="atomic-colors">Colors</a>
	<a href="#utilities" id="atomic-utilities">Utilities</a>
	<a href="#typography" id="atomic-typography">Typography</a>
	<a href="#components" id="atomic-components">components</a>
	{{/is}}
	{{#isnt 'atomicguide' this.basename}}
	<a href="/work.html" class="{{#is 'categories' ...basename}}active{{/is}}">Featured Work</a>
	<a href="/contact.html" class="{{#is 'contact' ...basename}}active{{/is}}">Get In Touch</a>
	<a href="http://blog.grayghostvisuals.com">Journal</a>
	<a href="http://codepen.io/grayghostvisuals">Experiments</a>
	<a href="/atomic-guide.html">Atomic Guide</a>
	{{/isnt}}
</nav>
