<nav id="nav" class="primary-nav" role="navigation">
	<a href="/work.html" class="{{#is 'categories' this.basename}}active{{/is}}">Featured Work</a>
	<a href="mailto:grayghost@grayghostvisuals.com?subject=Gray Ghost Visuals Contact Inquiry&body=Howdy,%0A%0AWe're inquiring about a project we currently need assistance with. Here's the details…%0A">Get In Touch</a>
	<a href="http://blog.grayghostvisuals.com">Journal</a>
	<a href="http://codepen.io/grayghostvisuals">Experiments</a>
	<a href="/atomic-guide.html">Atomic Guide</a>
</nav>
