// http://prismjs.com/download.html?themes=prism-twilight&languages=markup+css+clike+javascript+scss+bash+ruby&plugins=show-language
code[class*="language-"],
pre[class*="language-"] {
  color: #CFD7E0;
  direction: ltr;
  font-family: Consolas, Monaco, 'Andale Mono', monospace;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  line-height: 1.5;
  tab-size: 2;
  hyphens: none;
}

pre[class*="language-"],
:not(pre) > code[class*="language-"] {
  background: #003461;
}

pre[class*="language-"] {
  margin: 1em 0;
  overflow: auto;
  padding: 1em;
}

pre[class*="language-"]::selection {
  // Safari
  background: hsl(200, 60%, 16%);
}

pre[class*="language-"]::selection {
  // Firefox
  background: hsl(200, 60%, 16%);
}

// Text Selection colour
pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection {
  text-shadow: none;
  background: rgba(#5B5F7C, 0.15);
}

pre[class*="language-"]::selection,
pre[class*="language-"] ::selection,
code[class*="language-"]::selection,
code[class*="language-"] ::selection {
  text-shadow: none;
  background: rgba(#5B5F7C, 0.15);
}

// Inline code
// :not(pre) > code[class*="language-"] {}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: hsl(230, 20%, 44%);
}

.token.punctuation {
  opacity: .7;
}

.namespace {
  opacity: .7;
}

.token.tag,
.token.boolean,
.token.number,
.token.deleted {
  color: #E87878;
}

.token.keyword,
.token.property,
.token.selector,
.token.constant,
.token.symbol,
.token.builtin {
  color: #EF3738;
}

.token.attr-name,
.token.attr-value,
.token.string,
.token.char,
.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable,
.token.inserted {
  color: #92A6FF;
}

.token.punctuation {
  color: #ABAACB;
}

.token.attr-value > .token.punctuation:first-child {
  color: #EF7379;
}

.token.atrule {
  color: hsl(218, 22%, 55%); // #7587A6
}

.token.regex,
.token.important {
  color: hsl(42, 75%, 65%); // #E9C062
}

.token.important {
  font-weight: bold;
}

.token.entity {
  cursor: help;
}

pre[data-line] {
  padding: 1em 0 1em 3em;
  position: relative;
}

// Markup
.language-markup .token.tag,
.language-markup .token.attr-name,
.language-markup .token.punctuation {
  color: #278BD2;
}

// Make the tokens sit above the line highlight so the colours don't look faded.
.token {
  position: relative;
  z-index: 1;
}

pre[class*='language-'] {
  position: relative;
  clear: both;
  margin: 20px 0;
  z-index: -1;
}

pre[class*='language-'] > code[data-language] {
  // overflow: scroll;
  // max-height: 28em;
  display: block;
}

pre[class*='language-'] > code[data-language]::before {
  content: attr(data-language);
  color: black;
  background-color: #CFCFCF;
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 0.9em;
  padding: 0 0.5em;
  text-shadow: none;
}