.case header[role="banner"] {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	align-content: stretch;
	a[href="/"] {
		transform: translateX(70px) scale(1.25);
		transform-origin: top;
	}
	svg {
		width: 70px;
		height: 70px;
	}
}
