// ==========================================================
// Page
// ==========================================================

.landing {
	overflow: hidden;
}

.landing header[role="banner"] {
	position: absolute;
}

.landing section {
	max-width: 1181px;
	margin: 0 auto;
}

.landing .ggv-hero {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: map-get($atomic-colors, midnight-blue);
	background-image: img-url("underwater.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	@media (max-width: 530px) {
		padding: 1rem;
	}
}

.landing .ggv-headline._hero {
	color: white;
}

.landing .ggv-slogan {
	max-width: 500px;
	position: relative;
	z-index: 1;
	font-size: 1.125em;
}

.landing footer[role="contentinfo"] {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	small {
		color: white;
	}
}


// ==========================================================
// Bubbles
// ==========================================================

.landing .bubble {
	animation: bubble 5s infinite cubic-bezier(0.55, 0.06, 0.68, 0.19);
	border-radius: 100%;
	position: absolute;
	bottom: 0;
	will-change: transform;
	background: radial-gradient(circle at center, rgba(#FFF, .20) 0, rgba(#FFF, .03) 25%);
}

@keyframes bubble {
	$b-size: 35px;
	$b-surface: -120vh;
	from 	{ transform: translateY($b-size); }
	to 		{ transform: translateY($b-surface); }
}
