// ==========================================================
// Parts
// ==========================================================

.landing {
	overflow: hidden;
}

.landing section {
	max-width: 1181px;
	margin: 0 auto;
}


.landing .ggv-hero {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background: #0C3E5E;
}

.landing .ggv-headline._hero {
	color: white;
}

.landing .ggv-slogan {
	max-width: 500px;
	position: relative;
	z-index: 1;
	font-size: 1.125em;
}


.landing footer[role="contentinfo"] {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;

	small {
		color: white;
	}
}


// ==========================================================
// Bubble Effect
// ==========================================================

$b-size: 35px;
$b-surface: -120vh;

.landing .bubble {
	border-radius: 100%;
	position: absolute;
	bottom: 0;
	will-change: transform;
	background: radial-gradient(circle at center, rgba(#FFF, .15) 0, rgba(#FFF, .02) 25%);
	animation: bubble 5s infinite cubic-bezier(0.55, 0.06, 0.68, 0.19);
}

@keyframes bubble {
	from {
		transform: translateY($b-size);
		opacity: 1;
	}

	to {
		transform: translateY($b-surface);
		opacity: 0.25;
	}
}
