.portfolio .intro-deck {
  max-width: 740px;
  margin: auto;
  padding-bottom: 40px;
  font-size: 18px;
  opacity: 0.75;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 150px;
}

.portfolio .intro-deck h3 {
  text-align: center;
  font-size: 54px;
  line-height: 0;
  color: white;
}

.portfolio .sticky-container {
  background: #002238;
  color: white;
}
