.portfolio .intro-deck {
	padding: 40px 0 120px;
	margin-top: 140px;
	h4 {
		margin-top: 0;
		margin-bottom: 10px;
		text-align: center;
		color: white;
	}
}


.portfolio .listing {
	font-size: 0.875em;
	text-transform: lowercase;
	a {
		text-transform: uppercase;
	}
}
